---
import "../../../styles/video-detail.css";
import Footer from "../../../components/footer.astro";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>スピード</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>スピード</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/pman1.jpg"><img src="../../../images/pman1t.jpg"></a>
        <a href="../../../images/pman2.jpg"><img src="../../../images/pman2t.jpg"></a>
        <a href="../../../images/pman3.jpg"><img src="../../../images/pman3t.jpg"></a>
        <a href="../../../images/pman4.jpg"><img src="../../../images/pman4t.jpg"></a>
        <a href="../../../images/pman5.jpg"><img src="../../../images/pman5t.jpg"></a>
        <a href="../../../images/pman6.jpg"><img src="../../../images/pman6t.jpg"></a>
        <a href="../../../images/pman7.jpg"><img src="../../../images/pman7t.jpg"></a>
        <a href="../../../images/pman8.jpg"><img src="../../../images/pman8t.jpg"></a>
        <a href="../../../images/pman9.jpg"><img src="../../../images/pman9t.jpg"></a>
        <a href="../../../images/pman10.jpg"><img src="../../../images/pman10t.jpg"></a>
        <a href="../../../images/pman11.jpg"><img src="../../../images/pman11t.jpg"></a>
        <a href="../../../images/pman12.jpg"><img src="../../../images/pman12t.jpg"></a>
        <a href="../../../images/pman13.jpg"><img src="../../../images/pman13t.jpg"></a>
        <a href="../../../images/pman14.jpg"><img src="../../../images/pman14t.jpg"></a>
        <a href="../../../images/pman15.jpg"><img src="../../../images/pman15t.jpg"></a>
        <a href="../../../images/pman16.jpg"><img src="../../../images/pman16t.jpg"></a>
        <a href="../../../images/pman17.jpg"><img src="../../../images/pman17t.jpg"></a>
        <a href="../../../images/pman18.jpg"><img src="../../../images/pman18t.jpg"></a>
        <a href="../../../images/pman19.jpg"><img src="../../../images/pman19t.jpg"></a>
        <a href="../../../images/pman20.jpg"><img src="../../../images/pman20t.jpg"></a>
        <a href="../../../images/pman21.jpg"><img src="../../../images/pman21t.jpg"></a>
        <a href="../../../images/pman22.jpg"><img src="../../../images/pman22t.jpg"></a>
        <a href="../../../images/pman23.jpg"><img src="../../../images/pman23t.jpg"></a>
        <a href="../../../images/pman24.jpg"><img src="../../../images/pman24t.jpg"></a>
        <a href="../../../images/pman25.jpg"><img src="../../../images/pman25t.jpg"></a>
        <a href="../../../images/pman26.jpg"><img src="../../../images/pman26t.jpg"></a>
        <a href="../../../images/pman27.jpg"><img src="../../../images/pman27t.jpg"></a>
        <a href="../../../images/pman28.jpg"><img src="../../../images/pman28t.jpg"></a>
   <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>