---
import "../../../styles/video-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wordで作るパンフレット</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>wordで作るパンフレット</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>
     <h2>wordを使いご自身のお店・会社のオリジナルパンフレット・メニュー・ポスターを作りましょう。<br>誰でもできます。</h2>

    <div class="container">
         <a href="../../../images/tira1.jpg"><img src="../../../images/tira1t.jpg"></a>
        <a href="../../../images/tira2.jpg"><img src="../../../images/tira2t.jpg"></a>
        <a href="../../../images/tira3.jpg"><img src="../../../images/tira3t.jpg"></a>
        <a href="../../../images/tira4.jpg"><img src="../../../images/tira4t.jpg"></a>
        <a href="../../../images/tira5.jpg"><img src="../../../images/tira5t.jpg"></a>
        <a href="../../../images/tira6.jpg"><img src="../../../images/rira6t.jpg"></a>


    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>