---
import "../../../styles/video-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wordで作るパンフレット</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>wordで作るパンフレット</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>
     <h2>wordを使いご自身のお店・会社のオリジナルパンフレット・メニュー・ポスターを作りましょう。<br>誰でもできます。</h2>

    <div class="container">
         <a href="../../../images/tira1.jpg"><img src="../../../images/tira1t.jpg"></a>
        <a href="../../../images/tira2.jpg"><img src="../../../images/tira2t.jpg"></a>
        <a href="../../../images/tira3.jpg"><img src="../../../images/tira3t.jpg"></a>
        <a href="../../../images/tira5.jpg"><img src="../../../images/tira5t.jpg"></a>
        <a href="../../../images/tira6.jpg"><img src="../../../images/tira6ta.jpg"></a>
        <a href="../../../images/tira7.jpg"><img src="../../../images/tira7t.jpg"></a>
        <a href="../../../images/tira8a.jpg"><img src="../../../images/tira8ta.jpg"></a>
        <a href="../../../images/tira9.jpg"><img src="../../../images/tira9t.jpg"></a>
        <a href="../../../images/tira10.jpg"><img src="../../../images/tira10t.jpg"></a>
        <a href="../../../images/tira11.jpg"><img src="../../../images/tira11t.jpg"></a>
        <a href="../../../images/tira12.jpg"><img src="../../../images/tira12t.jpg"></a>
        <a href="../../../images/tira13.jpg"><img src="../../../images/tira13t.jpg"></a>
        <a href="../../../images/tira14.jpg"><img src="../../../images/tira14t.jpg"></a>
        <a href="../../../images/tira15.jpg"><img src="../../../images/tira15t.jpg"></a>
        <a href="../../../images/tira16.jpg"><img src="../../../images/tira16t.jpg"></a>
        <a href="../../../images/top1-1.jpg"><img src="../../../images/tira17t.jpg"></a>
        <a href="../../../images/top1-2.jpg"><img src="../../../images/tira18t.jpg"></a>
        <a href="../../../images/top1-3.jpg"><img src="../../../images/tira19t.jpg"></a>
        <a href="../../../images/top1-4.jpg"><img src="../../../images/tira20t.jpg"></a>
        <a href="../../../images/top1-5.jpg"><img src="../../../images/tira21t.jpg"></a>
        <a href="../../../images/top1-6.jpg"><img src="../../../images/tira22t.jpg"></a>
        </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>