---
import "../../../styles/video-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISO感度</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>wordで写真加工をしよう
        </h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/pwo1.jpg"><img src="../../../images/pwo1t.jpg"></a>
        <a href="../../../images/pwo2.jpg"><img src="../../../images/pwo2t.jpg"></a>
        <a href="../../../images/pwo3.jpg"><img src="../../../images/pwo3t.jpg"></a>
        <a href="../../../images/pwo4.jpg"><img src="../../../images/pwo4t.jpg"></a>
        <a href="../../../images/pwo5.jpg"><img src="../../../images/pwo5t.jpg"></a>
        <a href="../../../images/pwo6.jpg"><img src="../../../images/pwo6t.jpg"></a>
        <a href="../../../images/pwo7.jpg"><img src="../../../images/pwo7t.jpg"></a>
        <a href="../../../images/pwo8.jpg"><img src="../../../images/pwo8t.jpg"></a>
        <a href="../../../images/pwo9.jpg"><img src="../../../images/pwo9t.jpg"></a>
        

    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>