---
import "../../../styles/video-detail.css";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>写真の基礎</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>


<body>
    <header class="sub-header">
        <h1>写真の基礎</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/pkiso1.jpg"
            ><img src="../../../images/pkiso1t.jpg" /></a
        >
        <a href="../../../images/pkiso2.jpg"
            ><img src="../../../images/pkiso2t.jpg" /></a
        >
        <a href="../../../images/pkiso3.jpg"
            ><img src="../../../images/pkiso3t.jpg" /></a
        >
        <a href="../../../images/pkiso4.jpg"
            ><img src="../../../images/pkiso4t.jpg" /></a
        >
        <a href="../../../images/pkiso5.jpg"
            ><img src="../../../images/pkiso5t.jpg" /></a
        >
        <a href="../../../images/pkiso6.jpg"
            ><img src="../../../images/pkiso6t.jpg" /></a
        >
        <a href="../../../images/pkiso7.jpg"
            ><img src="../../../images/pkiso7t.jpg" /></a
        >
        <a href="../../../images/pkiso8.jpg"
            ><img src="../../../images/pkiso8t.jpg" /></a
        >
        <a href="../../../images/pkiso9.jpg"
            ><img src="../../../images/pkiso9t.jpg" /></a
        >
        <a href="../../../images/pkiso10.jpg"
            ><img src="../../../images/pkiso10t.jpg" /></a
        >
        <a href="../../../images/pkiso11.jpg"
            ><img src="../../../images/pkiso11t.jpg" /></a
        >
        <a href="../../../images/pkiso12.jpg"
            ><img src="../../../images/pkiso12t.jpg" /></a
        >
        <a href="../../../images/pkiso13.jpg"
            ><img src="../../../images/pkiso13t.jpg" /></a
        >
        <a href="../../../images/pkiso14.jpg"
            ><img src="../../../images/pkiso14t.jpg" /></a
        >
        <a href="../../../images/pkiso15.jpg"
            ><img src="../../../images/pkiso15t.jpg" /></a
        >
        <a href="../../../images/pkiso16.jpg"
            ><img src="../../../images/pkiso16t.jpg" /></a
        >
        <a href="../../../images/pkiso17.jpg"
            ><img src="../../../images/pkiso17t.jpg" /></a
        >
        <a href="../../../images/pkiso18.jpg"
            ><img src="../../../images/pkiso18t.jpg" /></a
        >
        <a href="../../../images/pkiso19.jpg"
            ><img src="../../../images/pkiso19t.jpg" /></a
        >
        <a href="../../../images/pkiso20.jpg"
            ><img src="../../../images/pkiso20t.jpg" /></a
        >
        <a href="../../../images/pkiso21.jpg"
            ><img src="../../../images/pkiso21t.jpg" /></a
        >
        <a href="../../../images/pkiso22.jpg"
            ><img src="../../../images/pkiso22t.jpg" /></a
        >
        <a href="../../../images/pkiso23.jpg"
            ><img src="../../../images/pkiso23t.jpg" /></a
        >
        <a href="../../../images/pkiso24.jpg"
            ><img src="../../../images/pkiso24t.jpg" /></a
        >
        <a href="../../../images/pkiso25.jpg"
            ><img src="../../../images/pkiso25t.jpg" /></a
        >
        <a href="../../../images/pkiso26.jpg"
            ><img src="../../../images/pkiso26t.jpg" /></a
        >
        <a href="../../../images/pkiso27.jpg"
            ><img src="../../../images/pkiso27t.jpg" /></a
        >
        <a href="../../../images/pkiso28.jpg"
            ><img src="../../../images/pkiso28t.jpg" /></a
        >
        <a href="../../../images/pkiso29.jpg"
            ><img src="../../../images/pkiso29t.jpg" /></a
        >
        <a href="../../../images/pkiso30.jpg"
            ><img src="../../../images/pkiso30t.jpg" /></a
        >
        <a href="../../../images/pkiso31.jpg"
            ><img src="../../../images/pkiso31t.jpg" /></a
        >
        <a href="../../../images/pkiso32.jpg"
            ><img src="../../../images/pkiso32t.jpg" /></a
        >
        <a href="../../../images/pkiso33.jpg"
            ><img src="../../../images/pkiso33t.jpg" /></a
        >
        <a href="../../../images/pkiso34.jpg"
            ><img src="../../../images/pkiso34t.jpg" /></a
        >
        <a href="../../../images/pkiso35.jpg"
            ><img src="../../../images/pkiso35t.jpg" /></a
        >
        <a href="../../../images/pkiso36.jpg"
            ><img src="../../../images/pkiso36t.jpg" /></a
        >
        <a href="../../../images/pkiso37.jpg"
            ><img src="../../../images/pkiso7t.jpg" /></a
        >
        <a href="../../../images/pkiso38.jpg"
            ><img src="../../../images/pkiso38t.jpg" /></a
        >
        <a href="../../../images/pkiso39.jpg"
            ><img src="../../../images/pkiso39t.jpg" /></a
        >
        <a href="../../../images/pkiso40.jpg"
            ><img src="../../../images/pkiso40t.jpg" /></a
        >
        <a href="../../../images/pkiso41.jpg"
            ><img src="../../../images/pkiso41t.jpg" /></a
        >
        <a href="../../../images/pkiso42.jpg"
            ><img src="../../../images/pkiso42t.jpg" /></a
        >
        <a href="../../../images/pkiso43.jpg"
            ><img src="../../../images/pkiso43t.jpg" /></a
        >
        <a href="../../../images/pkiso44.jpg"
            ><img src="../../../images/pkiso44t.jpg" /></a
        >
        <a href="../../../images/pkiso45.jpg"
            ><img src="../../../images/pkiso45t.jpg" /></a
        >
        <a href="../../../images/pkiso46.jpg"
            ><img src="../../../images/pkiso46t.jpg" /></a
        >
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer></body
>
