---
import "../../../styles/video-detail.css";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>写真はなぜ写る</title>
    <link rel="stylesheet" href="../video-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>写真はなぜ写る</h1>
        <p>気になる画像をクリックして詳細をチェック</p>

    </header>

    <h2>プロのカメラマン像<br>
        ①豊かな想像力
        ②配置や料理も上手いこと
        ③助手はできるだけ少なく
        ④ライティングは臨機応変にできること
    </h2>

    <div class="container">
        <a href="../../../images/pmono1.jpg"><img src="../../../images/pmono1t.jpg"></a>
        <a href="../../../images/pmono2.jpg"><img src="../../../images/pmono2t.jpg"></a>
        <a href="../../../images/pmono3.jpg"><img src="../../../images/pmono3t.jpg"></a>
        <a href="../../../images/pmono4.jpg"><img src="../../../images/pmono4t.jpg"></a>
        <a href="../../../images/pmono5.jpg"><img src="../../../images/pmono5t.jpg"></a>
        <a href="../../../images/pmono6.jpg"><img src="../../../images/pmono6t.jpg"></a>
        <a href="../../../images/pmono7.jpg"><img src="../../../images/pmono7t.jpg"></a>
        <a href="../../../images/pmono8.jpg"><img src="../../../images/pmono8t.jpg"></a>
        <a href="../../../images/pmono9.jpg"><img src="../../../images/pmono9t.jpg"></a>
        <a href="../../../images/pmono10.jpg"><img src="../../../images/pmono10t.jpg"></a>
         <a href="../../../images/pmono11.jpg"><img src="../../../images/pmono11t.jpg"></a>
        <a href="../../../images/pmono12.jpg"><img src="../../../images/pmono12t.jpg"></a>
        <a href="../../../images/pmono13.jpg"><img src="../../../images/pmono13t.jpg"></a>
        <a href="../../../images/pmono14.jpg"><img src="../../../images/pmono14t.jpg"></a>
        <a href="../../../images/pmono15.jpg"><img src="../../../images/pmono15t.jpg"></a>
        <a href="../../../images/pmono16.jpg"><img src="../../../images/pmono16t.jpg"></a>
        <a href="../../../images/pmono17.jpg"><img src="../../../images/pmono17t.jpg"></a>
        <a href="../../../images/pmono18.jpg"><img src="../../../images/pmono18t.jpg"></a>
        <a href="../../../images/pmono19.jpg"><img src="../../../images/pmono19t.jpg"></a>
        <a href="../../../images/pmono20.jpg"><img src="../../../images/pmono20t.jpg"></a>
        <a href="../../../images/pmono21.jpg"><img src="../../../images/pmono21t.jpg"></a>
        <a href="../../../images/pmono22.jpg"><img src="../../../images/pmono22t.jpg"></a>
        <a href="../../../images/pmono23.jpg"><img src="../../../images/pmono23t.jpg"></a>
        <a href="../../../images/pmono24.jpg"><img src="../../../images/pmono24t.jpg"></a>
        <a href="../../../images/pmono25.jpg"><img src="../../../images/pmono25t.jpg"></a>
        <a href="../../../images/pmono26.jpg"><img src="../../../images/pmono26t.jpg"></a>
        <a href="../../../images/pmono27.jpg"><img src="../../../images/pmono27t.jpg"></a>
        <a href="../../../images/pmono28.jpg"><img src="../../../images/pmono28t.jpg"></a>
        <a href="../../../images/pmono29.jpg"><img src="../../../images/pmono29t.jpg"></a>
        <a href="../../../images/pmono30.jpg"><img src="../../../images/pmono30t.jpg"></a>
        <a href="../../../images/pmono31.jpg"><img src="../../../images/pmono31t.jpg"></a>
        <a href="../../../images/pmono32.jpg"><img src="../../../images/pmono32t.jpg"></a>
        <a href="../../../images/pmono33.jpg"><img src="../../../images/pmono33t.jpg"></a>
        <a href="../../../images/pmono34.jpg"><img src="../../../images/pmono34t.jpg"></a>
        <a href="../../../images/pmono35.jpg"><img src="../../../images/pmono35t.jpg"></a>
        <a href="../../../images/pmono36.jpg"><img src="../../../images/pmono36t.jpg"></a>
        <a href="../../../images/pmono37.jpg"><img src="../../../images/pmono37t.jpg"></a>
        <a href="../../../images/pmono38.jpg"><img src="../../../images/pmono38t.jpg"></a>
        <a href="../../../images/pmono39.jpg"><img src="../../../images/pmono39t.jpg"></a>
        <a href="../../../images/pmono40.jpg"><img src="../../../images/pmono40t.jpg"></a>
        <a href="../../../images/pmono41.jpg"><img src="../../../images/pmono41t.jpg"></a>
        <a href="../../../images/pmono42.jpg"><img src="../../../images/pmono42t.jpg"></a>
        <a href="../../../images/pmono43.jpg"><img src="../../../images/pmono43t.jpg"></a>
        <a href="../../../images/pmono44.jpg"><img src="../../../images/pmono44t.jpg"></a>
        <a href="../../../images/pmono45.jpg"><img src="../../../images/pmono45t.jpg"></a>
        <a href="../../../images/pmono46.jpg"><img src="../../../images/pmono46t.jpg"></a>
        <a href="../../../images/pmono47.jpg"><img src="../../../images/pmono47t.jpg"></a>
        <a href="../../../images/pmono48.jpg"><img src="../../../images/pmono48t.jpg"></a>
        <a href="../../../images/pmono49.jpg"><img src="../../../images/pmono49t.jpg"></a>
        <a href="../../../images/pmono50.jpg"><img src="../../../images/pmono50t.jpg"></a>
        <a href="../../../images/pmono51.jpg"><img src="../../../images/pmono51t.jpg"></a>
        <a href="../../../images/pmono52.jpg"><img src="../../../images/pmono52t.jpg"></a>
        <a href="../../../images/pmono53.jpg"><img src="../../../images/pmono53t.jpg"></a>
        <a href="../../../images/pmono54.jpg"><img src="../../../images/pmono54t.jpg"></a>
        <a href="../../../images/pmono55.jpg"><img src="../../../images/pmono55t.jpg"></a>
        <a href="../../../images/pmono56.jpg"><img src="../../../images/pmono56t.jpg"></a>
        <a href="../../../images/pmono57.jpg"><img src="../../../images/pmono57t.jpg"></a>
        <a href="../../../images/pmono58.jpg"><img src="../../../images/pmono58t.jpg"></a>
        <a href="../../../images/pmono59.jpg"><img src="../../../images/pmono59t.jpg"></a>
        <a href="../../../images/pmono60.jpg"><img src="../../../images/pmono60t.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>