---
import "../../../styles/hifu-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>人間の始まり</title>
    <link rel="stylesheet" href="../hifu-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>人間の始まり</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/hifu1-1.gif"><img src="../../../images/hifu1-1.jpg"></a>
        <a href="../../../images/hifu1-2.gif"><img src="../../../images/hifu1-2.jpg"></a>
        <a href="../../../images/hifu1-3.gif"><img src="../../../images/hifu1-3.jpg"></a>
        <a href="../../../images/hifu1-4.gif"><img src="../../../images/hifu1-4.jpg"></a>
        <a href="../../../images/hifu1-5.gif"><img src="../../../images/hifu1-5.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>