---
import "../../../styles/hifu-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>皮膚の進化</title>
</head>

<body>
    <header class="sub-header">
        <h1>皮膚の進化</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/hifu2-1.gif"><img src="../../../images/hifu2-1.jpg"></a>
        <a href="../../../images/hifu2-2.gif"><img src="../../../images/hif2-2.jpg"></a>
        <a href="../../../images/hifu2-3.gif"><img src="../../../images/hif2-3.jpg"></a>
        <a href="../../../images/hifu2-4.gif"><img src="../../../images/hif2-4.jpg"></a>
        <a href="../../../images/hifu2-5.gif"><img src="../../../images/hif2-5.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>