---
import "../../../styles/hifu-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>外用剤使用方法</title>
    <link rel="stylesheet" href="../hifu-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>外用剤使用方法</h1>
        <p>気になる画像をクリックして詳細をチェック（準備中）</p>
    </header>

    <div class="container">
        <a href="../../../images/hifu13-1.gif"><img src="../../../images/hif13-1.jpg"></a>
        <a href="../../../images/hifu13-2.gif"><img src="../../../images/hif13-2.jpg"></a>
        <a href="../../../images/hifu13-3.gif"><img src="../../../images/hif13-3.jpg"></a>
        <a href="../../../images/hifu13-4.gif"><img src="../../../images/hif13-4.jpg"></a>
        <a href="../../../images/hifu13-5.gif"><img src="../../../images/hif13-5.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>