---
import "../../../styles/hifu-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>シミ・肝斑辞典</title>
    <link rel="stylesheet" href="../hifu-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>シミ・肝斑辞典</h1>
        <p>気になる画像をクリックして詳細をチェック（準備中）</p>
    </header>

<div class="container">
    <a href="../../../images/simi1.jpg"><img src="../../../images/simi1.jpg"></a>
    <a href="../../../images/simi2.jpg"><img src="../../../images/simi2.jpg"></a>
    <a href="../../../images/simi3.jpg"><img src="../../../images/simi3.jpg"></a>
    <a href="../../../images/simi4.jpg"><img src="../../../images/simi4.jpg"></a>
    <a href="../../../images/simi5.jpg"><img src="../../../images/simi5.jpg"></a>
    <a href="../../../images/simi6.jpg"><img src="../../../images/simi6.jpg"></a>
    <a href="../../../images/simi7.jpg"><img src="../../../images/simi7.jpg"></a>
    <a href="../../../images/simi8.jpg"><img src="../../../images/simi8.jpg"></a>
    <a href="../../../images/simi9.jpg"><img src="../../../images/simi9.jpg"></a>
    <a href="../../../images/simi10.jpg"><img src="../../../images/simi10.jpg"></a>
    <a href="../../../images/simi11.jpg"><img src="../../../images/simi11.jpg"></a>
    <a href="../../../images/simi12.jpg"><img src="../../../images/simi12.jpg"></a>
    <a href="../../../images/simi13.jpg"><img src="../../../images/simi13.jpg"></a>
    <a href="../../../images/simi14.jpg"><img src="../../../images/simi14.jpg"></a>
    <a href="../../../images/simi15.jpg"><img src="../../../images/simi15.jpg"></a>
    <a href="../../../images/simi16.jpg"><img src="../../../images/simi16.jpg"></a>
    <a href="../../../images/simi17.jpg"><img src="../../../images/simi17.jpg"></a>
    <a href="../../../images/simi18.jpg"><img src="../../../images/simi18.jpg"></a>
    <a href="../../../images/simi19.jpg"><img src="../../../images/simi19.jpg"></a>
    <a href="../../../images/simi20.jpg"><img src="../../../images/simi20.jpg"></a>
    <a href="../../../images/simi21.jpg"><img src="../../../images/simi21.jpg"></a>
    <a href="../../../images/simi22.jpg"><img src="../../../images/simi22.jpg"></a>
    <a href="../../../images/simi23.jpg"><img src="../../../images/simi23.jpg"></a>
    <a href="../../../images/simi24.jpg"><img src="../../../images/simi24.jpg"></a>
    <a href="../../../images/simi25.jpg"><img src="../../../images/simi25.jpg"></a>
    <a href="../../../images/simi26.jpg"><img src="../../../images/simi26.jpg"></a>
    <a href="../../../images/simi27.jpg"><img src="../../../images/simi27.jpg"></a>
    <a href="../../../images/simi28.jpg"><img src="../../../images/simi28.jpg"></a>
    <a href="../../../images/simi29.jpg"><img src="../../../images/simi29.jpg"></a>
    <a href="../../../images/simi30.jpg"><img src="../../../images/simi30.jpg"></a>
    <a href="../../../images/simi31.jpg"><img src="../../../images/simi31.jpg"></a>
    <a href="../../../images/simi32.jpg"><img src="../../../images/simi32.jpg"></a>
    <a href="../../../images/simi33.jpg"><img src="../../../images/simi33.jpg"></a>
</div>


    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>