---
import "../../../styles/hifu-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../hifu-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1></h1>
        <p>気になる画像をクリックして詳細をチェック（準備中）</p>
    </header>

<div class="container">
    <a href="../../../images/niki1.jpg"><img src="../../../images/niki1.jpg"></a>
    <a href="../../../images/niki2.jpg"><img src="../../../images/niki2.jpg"></a>
    <a href="../../../images/niki3.jpg"><img src="../../../images/niki3.jpg"></a>
    <a href="../../../images/niki4.jpg"><img src="../../../images/niki4.jpg"></a>
    <a href="../../../images/niki5.jpg"><img src="../../../images/niki5.jpg"></a>
    <a href="../../../images/niki6.jpg"><img src="../../../images/niki6.jpg"></a>
    <a href="../../../images/niki7.jpg"><img src="../../../images/niki7.jpg"></a>
    <a href="../../../images/niki8.jpg"><img src="../../../images/niki8.jpg"></a>
    <a href="../../../images/niki9.jpg"><img src="../../../images/niki9.jpg"></a>
    <a href="../../../images/niki10.jpg"><img src="../../../images/niki10.jpg"></a>
    <a href="../../../images/niki11.jpg"><img src="../../../images/niki11.jpg"></a>
    <a href="../../../images/niki12.jpg"><img src="../../../images/niki12.jpg"></a>
    <a href="../../../images/niki13.jpg"><img src="../../../images/niki13.jpg"></a>
    <a href="../../../images/niki14.jpg"><img src="../../../images/niki14.jpg"></a>
    <a href="../../../images/niki15.jpg"><img src="../../../images/niki15.jpg"></a>
    <a href="../../../images/niki16.jpg"><img src="../../../images/niki16.jpg"></a>
    <a href="../../../images/niki17.jpg"><img src="../../../images/niki17.jpg"></a>
    <a href="../../../images/niki18.jpg"><img src="../../../images/niki18.jpg"></a>
    <a href="../../../images/niki19.jpg"><img src="../../../images/niki19.jpg"></a>
    <a href="../../../images/niki20.jpg"><img src="../../../images/niki20.jpg"></a>
    <a href="../../../images/niki21.jpg"><img src="../../../images/niki21.jpg"></a>
    <a href="../../../images/niki22.jpg"><img src="../../../images/niki22.jpg"></a>
    <a href="../../../images/niki23.jpg"><img src="../../../images/niki23.jpg"></a>
    <a href="../../../images/niki24.jpg"><img src="../../../images/niki24.jpg"></a>
    <a href="../../../images/niki25.jpg"><img src="../../../images/niki25.jpg"></a>
    <a href="../../../images/niki26.jpg"><img src="../../../images/niki26.jpg"></a>
    <a href="../../../images/niki27.jpg"><img src="../../../images/niki27.jpg"></a>
    <a href="../../../images/niki28.jpg"><img src="../../../images/niki28.jpg"></a>
    <a href="../../../images/niki29.jpg"><img src="../../../images/niki29.jpg"></a>
    <a href="../../../images/niki30.jpg"><img src="../../../images/niki30.jpg"></a>
    <a href="../../../images/niki31.jpg"><img src="../../../images/niki31.jpg"></a>
    <a href="../../../images/niki32.jpg"><img src="../../../images/niki32.jpg"></a>
    <a href="../../../images/niki33.jpg"><img src="../../../images/niki33.jpg"></a>
</div>




    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>