---
import  "../../../styles/hp-detail.css"
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ホームページ1週間講座・その１　HTML</title>
    <link rel="stylesheet" href="../../../hp-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>ホームページ１週間講座・その１　HTML</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/hp5-1.jpg"><img src="../../../images/hp5-1t.jpg"></a>
        <a href="../../../images/hp5-2.jpg"><img src="../../../images/hp5-2t.jpg"></a>
        <a href="../../../images/hp5-3.jpg"><img src="../../../images/hp5-3t.jpg"></a>
        <a href="../../../images/hp5-4.jpg"><img src="../../../images/hp5-4t.jpg"></a>
        <a href="../../../images/hp5-6.jpg"><img src="../../../images/hp5-6t.jpg"></a>
        <a href="../../../images/hp5-7.jpg"><img src="../../../images/hp5-7t.jpg"></a>
        <a href="../../../images/hp5-8.jpg"><img src="../../../images/hp5-8t.jpg"></a>
        <a href="../../../images/hp5-9.jpg"><img src="../../../images/hp5-9t.jpg"></a>
        <a href="../../../images/hp5-10.jpg"><img src="../../../images/hp5-10t.jpg"></a>
        <a href="../../../images/hp5-11.jpg"><img src="../../../images/hp5-11t.jpg"></a>
        <a href="../../../images/hp5-12.jpg"><img src="../../../images/hp5-12t.jpg"></a>
        <a href="../../../images/hp5-13.jpg"><img src="../../../images/hp5-13t.jpg"></a>
        <a href="../../../images/hp5-14.jpg"><img src="../../../images/hp5-14t.jpg"></a>
        <a href="../../../images/hp5-15.jpg"><img src="../../../images/hp5-15t.jpg"></a>
        <a href="../../../images/hp5-16.jpg"><img src="../../../images/hp5-16t.jpg"></a>
        <a href="../../../images/hp5-17.jpg"><img src="../../../images/hp5-17t.jpg"></a>
        <a href="../../../images/hp5-18.jpg"><img src="../../../images/hp5-18t.jpg"></a>
        <a href="../../../images/hp5-19.jpg"><img src="../../../images/hp5-19t.jpg"></a>
        <a href="../../../images/hp5-20.jpg"><img src="../../../images/hp5-20t.jpg"></a>
        <a href="../../../images/hp5-21.jpg"><img src="../../../images/hp5-21t.jpg"></a>
        <a href="../../../images/hp5-22.jpg"><img src="../../../images/hp5-22t.jpg"></a>
        <a href="../../../images/hp5-23.jpg"><img src="../../../images/hp5-23t.jpg"></a>
        <a href="../../../images/hp5-24.jpg"><img src="../../../images/hp5-24t.jpg"></a>
        <a href="../../../images/hp5-25.jpg"><img src="../../../images/hp5-25t.jpg"></a>
        <a href="../../../images/hp5-26.jpg"><img src="../../../images/hp5-26t.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>