---
import  "../../../styles/hp-detail.css"
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ホームページ実践</title>
    <link rel="stylesheet" href="../../../hp-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>ホームページ実践</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../../../images/hp7-1.jpg"><img src="../../../images/hp7-1t.jpg"></a>
        <a href="../../../images/hp7-2.jpg"><img src="../../../images/hp7-2t.jpg"></a>     
        <a href="../../../images/hp7-3.jpg"><img src="../../../images/hp7-3t.jpg"></a>
        <a href="../../../images/hp7-4.jpg"><img src="../../../images/hp7-4t.jpg"></a>
        <a href="../../../images/hp7-5.jpg"><img src="../../../images/hp7-5t.jpg"></a>
        <a href="../../../images/hp7-6.jpg"><img src="../../../images/hp7-6t.jpg"></a>
        <a href="../../../images/hp7-7.jpg"><img src="../../../images/hp7-7t.jpg"></a>
        <a href="../../../images/hp7-8.jpg"><img src="../../../images/hp7-8t.jpg"></a>
        <a href="../../../images/hp7-9.jpg"><img src="../../../images/hp7-9t.jpg"></a>
        <a href="../../../images/hp7-10.jpg"><img src="../../../images/hp7-10t.jpg"></a>
        <a href="../../../images/hp7-11.jpg"><img src="../../../images/hp7-11t.jpg"></a>
        <a href="../../../images/hp7-12.jpg"><img src="../../../images/hp7-12t.jpg"></a>
        <a href="../../../images/hp7-13.jpg"><img src="../../../images/hp7-13t.jpg"></a>
        <a href="../../../images/hp7-14.jpg"><img src="../../../images/hp7-14t.jpg"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>