---
import  "../../../styles/hp-detail.css"
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMLの基本</title>
    <link rel="stylesheet" href="../../../hp-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>HTMLの基本</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMLの基本</title>
    <link rel="stylesheet" href="../hp-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>HTMLの基本</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

     <div class="container">
        
        <a href="../../../images/hpigi5-1-1.jpg"><img src="../../../images/hp5-1-1t.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
        <a href="../../../images/hpigi1-1.jpg"><img src="../../../images/hp3-1.jpg"></a>
    
    </div>
    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>

    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>