---
import  "../../../styles/hp-detail.css"
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>保守・更新・セキュリティー</title>
    <link rel="stylesheet" href="../../../hp-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>保守・更新・セキュリティー</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../images/"><img src="../images/hp8-1.jpg"></a>
        <a href="../images/"><img src="../images/hp8-2.jpg"></a>

    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>