---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
     <script src="https://js.ptengine.jp/55iy7etj.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADHDの分野</title>
    <link rel="stylesheet" href="../../../style-syoujyou.css">
</head>

<body>

<Header />

<main>
    <section class="hero">
        <h1>ADHDの分野</h1>
        <section class="kampo-gallery">

            <a href="../../../images/adhdgifs.gif">
                <img class="kampo-thumb" src="../../../images/adhdkanpouyonsen.jpg">
            </a>

            <a href="../../../images/adhdkanbakudaisoutougif.gif">
                <img class="kampo-thumb" src="../../../images/72.jpg">
            </a>

            <a href="../../../images/adhdyokukansangif.gif">
                <img class="kampo-thumb" src="../../../images/５４.jpg">
            </a>

            <a href="../../../images/adhdyokukansantinpihangegif.gif">
                <img class="kampo-thumb" src="../../../images/83.jpg">
            </a>

            <a href="../../../images/adhdsaikokaryuukotuboreitougif.gif">
                <img class="kampo-thumb" src="../../../images/12.jpg">
            </a>

        </section>
    </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
    LINEで予約する
</a>

<footer>
    <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
