---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
   <script src="https://js.ptengine.jp/55iy7etj.js"></script>
   <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>アトピーの分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>アトピーの分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/2atopi-zyuumi.gif">
        <img class="kampo-thumb" src="../../../images/６.jpg" />
      </a>

      <a href="../../../images/3atopi-ourenn.gif">
        <img class="kampo-thumb" src="../../../images/15.jpg" />
      </a>

      <a href="../../../images/4tatopi-unnseiin.gif">
        <img class="kampo-thumb" src="../../../images/57.jpg" />
      </a>

      <a href="../../../images/5atopi-syoufuusann.gif">
        <img class="kampo-thumb" src="../../../images/22.jpg" />
      </a>

      <a href="../../../images/6atopi-byakkokaninzintou.gif">
        <img class="kampo-thumb" src="../../../images/34.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
