---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>美容の分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
   <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <section class="hero">
    <h1>美容の分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/simig.gif">
        <img class="kampo-thumb" src="../../../images/SIMISIWA.jpg" />
      </a>

      <a href="../../../images/menositanokumatarumigif.gif">
        <img class="kampo-thumb" src="../../../images/kumatarumi.jpg" />
      </a>

      <a href="../../../images/houreisengif.gif">
        <img class="kampo-thumb" src="../../../images/houreisenn.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
