---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>頻尿の分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>頻尿の分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/hinnnyougosengifs.gif">
        <img class="kampo-thumb" src="../../../images/hinnnyougosenn.jpg" />
      </a>

      <a href="../../../images/2hinnyoutyoreitougif.gif">
        <img class="kampo-thumb" src="../../../images/４０.jpg" />
      </a>

      <a href="../../../images/3hinnyouhatimiziougangif.gif">
        <img class="kampo-thumb" src="../../../images/107.jpg" />
      </a>

      <a href="../../../images/4hinnyougosyazinnkigangif.gif">
        <img class="kampo-thumb" src="../../../images/１０７.jpg" />
      </a>

      <a href="../../../images/5hinnnyousisinrensiingif.gif">
        <img class="kampo-thumb" src="../../../images/111.jpg" />
      </a>

      <a href="../../../images/6hinnyouryuutansyakantougif.gif">
        <img class="kampo-thumb" src="../../../images/76.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
