---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>二日酔いの分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>二日酔いの分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/futukayoigifs.gif">
        <img class="kampo-thumb" src="../../../images/futukayoisansen.jpg" />
      </a>

      <a href="../../../images/zqLcRSbsktPwkC6mIhYn1739237180-1739237220.gif">
        <img class="kampo-thumb" src="../../../images/futukayoigoreisan.jpg" />
      </a>

      <a href="../../../images/futukayoihangesyasinntougif.gif">
        <img class="kampo-thumb" src="../../../images/futukayoihangesyasintou.jpg" />
      </a>

      <a href="../../../images/futukayoiourengedokutougif.gif">
        <img class="kampo-thumb" src="../../../images/futukayoiourengedokutou.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
