<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>過敏性腸症候群の分野</title>
    <link rel="stylesheet" href="../style-syoujyou.css">
</head>

<body>
    <header class="main-header">
        <nav class="custom-nav">
            <ul class="custom-nav-list">
                <li><a href="https://sunabeclinichp.vivian.jp/">ホーム</a></li>
                <li><a href="https://sunabenaika.vivian.jp/index-naika.html">内科専門</a></li>
                <li><a href="https://sunabenaika.vivian.jp/index-hifu.html">皮膚専門</a></li>
                <li><a href="https://sunabekenko.vivian.jp/index.recipe.html">読者レシピ</a></li>
                <li><a href="https://sunabekenko.vivian.jp/index.kenko.html">健康専門</a></li>
                <li><a href="#">HP制作術</a></li>
                <li><a href="#">LINE制作術</a></li>
                <li><a href="#">写真撮影術</a></li>
                <li><a href="#searchBox">質問する</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">


            <h1>過敏性腸症候群の分野</h1>
            <section class="kampo-gallery">

                <a href="../images/kabinseityousyoukougun.gif"><img class="kampo-thumb" src="../images/kabinnseityou1kanpou2sen.jpg"></a>

                <a href="../images/２kabuinseityousyaku.gif"><img class="kampo-thumb" src="../images/60.jpg"></a>

                <a href="../images/3kabinnsei134.gif"><img class="kampo-thumb" src="../images/134.jpg"></a>
                

            </section>

        </section>

    </main>
    <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
        LINEで予約する
    </a>

    <footer>
        <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
    </footer>

</body>

</html>