---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>更年期障害の分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>更年期障害の分野</h1>
    <section class="kampo-gallery">
        <a href="../../../images/kounen6g.gif"><img class="kampo-thumb" src="../../../images/kounen6t.jpg"></a>

        <a href="../../../images/23koug.gif"><img class="kampo-thumb" src="../../../images/23t.jpg"></a>

        <a href="../../../images/24koug.gif"><img class="kampo-thumb" src="../../../images/24t.jpg"></a>


        <a href="../../../images/25koug.gif"><img class="kampo-thumb" src="../../../images/25t.jpg"></a>
        <a href="../../../images/54koug.gif"><img class="kampo-thumb" src="../../../images/54t.jpg"></a>

        <a href="../../../images/106koug.gif"><img class="kampo-thumb" src="../../../images/106t.jpg"></a>
        <a href="../../../images/12koug.gif"><img class="kampo-thumb" src="../../../images/12t.jpg"></a>

                
            </section>

        </section>

    </main>
    <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
        LINEで予約する
    </a>

    <footer>
        <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
    </footer>

</body>

</html>