---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>にきびの分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>にきびの分野</h1>
    <section class="kampo-gallery">

      <a href="../../../niki4tg.gif">
        <img class="kampo-thumb" src="../../../images/niki4t.jpg" />
      </a>

      <a href="../../../images/２nikibizyuumihaidokutougif.gif">
        <img class="kampo-thumb" src="../../../images/6t.jpg" />
      </a>

      <a href="../../../images/3nikibiseizyouboufuutougif.gif">
        <img class="kampo-thumb" src="../../../images/58t.jpg" />
      </a>

      <a href="../../../images/4nikibikeibukuryougannkayokuininngif.gif">
        <img class="kampo-thumb" src="../../../images/125t.jpg" />
      </a>

      <a href="../../../images/5nikibikeigairengyotougif.gif">
        <img class="kampo-thumb" src="../../../images/50t.jpg" />
      </a>
       <a href="../../../images/nikicg.gif">
        <img class="kampo-thumb" src="../../../images/nikic.jpg" />
      </a>
    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
