---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>手指の痛みの分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>手指の痛みの分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/0teyubinoitami5zai.gif">
        <img class="kampo-thumb" src="../../../images/kanpou6zaiteyubinoitami.jpg" />
      </a>

      <a href="../../../images/2teyubinoitamikeisika.gif">
        <img class="kampo-thumb" src="../../../images/18.jpg" />
      </a>

      <a href="../../../images/3teyubinoitamidaibou.gif">
        <img class="kampo-thumb" src="../../../images/97.jpg" />
      </a>

      <a href="../../../images/4teyubinoitamiyokuinin.gif">
        <img class="kampo-thumb" src="../../../images/57.jpg" />
      </a>

      <a href="../../../images/4teyubinoitamiboui.gif">
        <img class="kampo-thumb" src="../../../images/20.jpg" />
      </a>

      <a href="../../../images/5teyubinoitamisimotutou.gif">
        <img class="kampo-thumb" src="../../../images/71.jpg" />
      </a>

      <a href="../../../images/6teyubinoitamieppi.gif">
        <img class="kampo-thumb" src="../../../images/28.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
