---
import Header from "../../../components/header.astro"
import "../../../styles/style-syoujyou.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <script src="https://js.ptengine.jp/55iy7etj.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>手汗の分野</title>
  <link rel="stylesheet" href="../../../style-syoujyou.css" />
</head>

<body>

<Header />

<main>
  <section class="hero">
    <h1>手汗の分野</h1>
    <section class="kampo-gallery">

      <a href="../../../images/teasesansengifs.gif">
        <img class="kampo-thumb" src="../../../images/teasesansen.jpg" />
      </a>

      <a href="../../../images/teaseapohaidogif.gif">
        <img class="kampo-thumb" src="../../../images/apot.jpg" />
      </a>

      <a href="../../../images/teasebouiougitougif.gif">
        <img class="kampo-thumb" src="../../../images/20t.jpg" />
      </a>

      <a href="../../../images/teasepurobansainngif.gif">
        <img class="kampo-thumb" src="../../../images/purobansain.jpg" />
      </a>

    </section>
  </section>
</main>

<a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
  LINEで予約する
</a>

<footer>
  <p>&copy; 2025 砂辺クリニック | All rights reserved.</p>
</footer>

</body>
</html>
