---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ダイエット</title>
</head>

<body>
    <header class="sub-header">
        <h1>ダイエット</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

<div class="container">
    <a href="../../../images/004001.gif"><img src="../../../images/1nannodaietto.png"></a>
    <a href="../../../images/004002.gif"><img src="../../../images/2daietto.png"></a>
    <a href="../../../images/004003.gif"><img src="../../../images/3daietto.png"></a>
    <a href="../../../images/004004.gif"><img src="../../../images/4daietto.png"></a>
    <a href="../../../images/004005.gif"><img src="../../../images/5daietto.png"></a>
    <a href="../../../images/004006.gif"><img src="../../../images/6daietto.png"></a>
    <a href="../../../images/004007.gif"><img src="../../../images/7daietto.png"></a>
    <a href="../../../images/004008.gif"><img src="../../../images/8daiettoyaserurankingu.png"></a>
    <a href="../../../images/004009.gif"><img src="../../../images/9daietoitinitimizu.png"></a>
    <a href="../../../images/004010.gif"><img src="../../../images/10daiettonihonzin.png"></a>
    <a href="../../../images/004012.gif"><img src="../../../images/11diet.png"></a>
    <a href="../../../images/004012.gif"><img src="../../../images/12diet.png"></a>
    <a href="../../../images/004013.gif"><img src="../../../images/13diet.png"></a>
    <a href="../../../images/004014.gif"><img src="../../../images/14diet.png"></a>
    <a href="../../../images/004015.gif"><img src="../../../images/15diet.png"></a>
    <a href="../../../images/004016.gif"><img src="../../../images/16diet.png"></a>
    <a href="../../../images/004017.gif"><img src="../../../images/17diet.png"></a>
    <a href="../../../images/004018.gif"><img src="../../../images/18diet.png"></a>
    <a href="../../../images/004019.gif"><img src="../../../images/diet19.png"></a>
    <a href="../../../images/004020.gif"><img src="../../../images/20diet.png"></a>
    <a href="../../../images/004021.gif"><img src="../../../images/21diet.png"></a>
    <a href="../../../images/004022.gif"><img src="../../../images/22diet.png"></a>
    <a href="../../../images/004023.gif"><img src="../../../images/diet23.png"></a>
    <a href="../../../images/004024.gif"><img src="../../../images/diet24.png"></a>
    <a href="../../../images/004025.gif"><img src="../../../images/diet25.png"></a>
    <a href="../../../images/004026.gif"><img src="../../../images/diet26.png"></a>
    <a href="../../../images/004027.gif"><img src="../../../images/diet27.png"></a>
    <a href="../../../images/004028.gif"><img src="../../../images/diet28.png"></a>
    <a href="../../../images/004029.gif"><img src="../../../images/diet29.png"></a>
    <a href="../../../images/004030.gif"><img src="../../../images/diet30.png"></a>
    <a href="../../../images/004031.gif"><img src="../../../images/diet31.png"></a>
    <a href="../../../images/004032.gif"><img src="../../../images/diet32.png"></a>
    <a href="../../../images/004033.gif"><img src="../../../images/diet33.png"></a>
    <a href="../../../images/004034.gif"><img src="../../../images/diet34.png"></a>
    <a href="../../../images/004035.gif"><img src="../../../images/diet35.png"></a>
</div>


    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>