---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>甲状腺機能亢進症</title>
    <link rel="stylesheet" href="../naika-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>甲状腺機能亢進症</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

    <div class="container">
        <a href="../images/"><img src="../images/"></a>
    </div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>