---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>減塩概論</title>
</head>

<body>
    <header class="sub-header">
        <h1>減塩概論</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

<div class="container">
    <a href="../../../images/enbun1gif.gif"><img src="../../../images/enbun1.png"></a>
    <a href="../../../images/enbun2gif.gif"><img src="../../../images/enbun2.png"></a>
    <a href="../../../images/enbun3gif.gif"><img src="../../../images/enbun3.png"></a>
    <a href="../../../images/enbunn4gif.gif"><img src="../../../images/enbun4.png"></a>
    <a href="../../../images/enbun5gif.gif"><img src="../../../images/enbun5.png"></a>
    <a href="../../../images/enbun6gif.gif"><img src="../../../images/enbun6.png"></a>
    <a href="../../../images/enbun7gif.gif"><img src="../../../images/enbun7.png"></a>
    <a href="../../../images/enbun8gif.gif"><img src="../../../images/enbun8.png"></a>
    <a href="../../../images/enbun9gif.gif"><img src="../../../images/enbun9.png"></a>
    <a href="../../../images/enbun10gif.gif"><img src="../../../images/enbun10.png"></a>
    <a href="../../../images/enbun11gif.gif"><img src="../../../images/enbun11.png"></a>
    <a href="../../../images/enbun12gif.gif"><img src="../../../images/enbun12.png"></a>
    <a href="../../../images/enbun13gif.gif"><img src="../../../images/enbun13.png"></a>
    <a href="../../../images/enbun14gif.gif"><img src="../../../images/enbun14.png"></a>
    <a href="../../../images/enbun15gif.gif"><img src="../../../images/enbun15.png"></a>
    <a href="../../../images/enbun16gif.gif"><img src="../../../images/enbun16.png"></a>
    <a href="../../../images/enbun17gif.gif"><img src="../../../images/enbun17.png"></a>
    <a href="../../../images/enbun18gif.gif"><img src="../../../images/enbun18.png"></a>
</div>


    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>