---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高血圧症</title>
    <link rel="stylesheet" href="../naika-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>高血圧症</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

<div class="container">
    <a href="../../../images/009001.gif"><img src="../../../images/１－１.png"></a>
    <a href="../../../images/009002.gif"><img src="../../../images/２ー２.png"></a>
    <a href="../../../images/009003.gif"><img src="../../../images/3-3k.png"></a>
    <a href="../../../images/009004.gif"><img src="../../../images/4-4k.png"></a>
    <a href="../../../images/009005.gif"><img src="../../../images/5-5k.png"></a>
    <a href="../../../images/009006.gif"><img src="../../../images/ketuatu6.png"></a>
    <a href="../../../images/009007.gif"><img src="../../../images/ketuatu７.png"></a>
    <a href="../../../images/009008.gif"><img src="../../../images/8-8k.png"></a>
    <a href="../../../images/09011.gif"><img src="../../../images/ketuatu11.png"></a>
    <a href="../../../images/09012.gif"><img src="../../../images/kouketu12.png"></a>
    <a href="../../../images/09013.gif"><img src="../../../images/ketuatu13.png"></a>
    <a href="../../../images/09014.gif"><img src="../../../images/14-14k.png"></a>
    <a href="../../../images/09015.gif"><img src="../../../images/ketuatu15.png"></a>
    <a href="../../../images/09016.gif"><img src="../../../images/ketuatu16.png"></a>
    <a href="../../../images/09017.gif"><img src="../../../images/ketuatu17.png"></a>
    <a href="../../../images/09018.gif"><img src="../../../images/18-18k.png"></a>
    <a href="../../../images/09019.gif"><img src="../../../images/19-19k.png"></a>
    <a href="../../../images/09020.gif"><img src="../../../images/20-20k.png"></a>
    <a href="../../../images/09021.gif"><img src="../../../images/21-21k.png"></a>
    <a href="../../../images/09022.gif"><img src="../../../images/22-22k.png"></a>
    <a href="../../../images/09023.gif"><img src="../../../images/23-23k.png"></a>
    <a href="../../../images/09024.gif"><img src="../../../images/24-24k.png"></a>
</div>


        <footer class="main-footer">
            <div class="footer-content">
                <p>&copy; 2025 砂辺クリニック</p>
            </div>
        </footer>