---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>糖尿病</title>
    <link rel="stylesheet" href="../naika-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>糖尿病</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

<div class="container">
    <a href="../../../images/008001.gif"><img src="../../../images/8-1tounyou.png"></a>
    <a href="../../../images/008002.gif"><img src="../../../images/8-2tounyou.png"></a>
    <a href="../../../images/008002.gif"><img src="../../../images/8-3tounyou.png"></a>
    <a href="../../../images/008004.gif"><img src="../../../images/8-4tounyou.png"></a>
    <a href="../../../images/008005.gif"><img src="../../../images/8-5tounyou.png"></a>
    <a href="../../../images/008006.gif"><img src="../../../images/8-6tounyou.png"></a>
    <a href="../../../images/008007.gif"><img src="../../../images/8-7tounyou.png"></a>
    <a href="../../../images/008008.gif"><img src="../../../images/8-8tounyou.png"></a>
    <a href="../../../images/008009.gif"><img src="../../../images/8-9tounyou.png"></a>
    <a href="../../../images/008010.gif"><img src="../../../images/8-10tonyou.png"></a>
    <a href="../../../images/008011.gif"><img src="../../../images/8-11tounyou.png"></a>
    <a href="../../../images/008012.gif"><img src="../../../images/8-12tonyo.png"></a>
    <a href="../../../images/008013.gif"><img src="../../../images/8-13tonyo.png"></a>
    <a href="../../../images/008014.gif"><img src="../../../images/14-14tonyo.png"></a>
    <a href="../../../images/008015.gif"><img src="../../../images/8-15tonyo.png"></a>
    <a href="../../../images/008016.gif"><img src="../../../images/8-16tonyo.png"></a>
    <a href="../../../images/008017.gif"><img src="../../../images/8-17tonyo.png"></a>
    <a href="../../../images/008018.gif"><img src="../../../images/8-18tonyo.png"></a>
    <a href="../../../images/008019.gif"><img src="../../../images/8-19tonyo.png"></a>
    <a href="../../../images/008020.gif"><img src="../../../images/8-20yonyo.png"></a>
    <a href="../../../images/008021.gif"><img src="../../../images/dm21.png"></a>
    <a href="../../../images/008022.gif"><img src="../../../images/dm22.png"></a>
    <a href="../../../images/008023.gif"><img src="../../../images/dm23.png"></a>
    <a href="../../../images/008024.gif"><img src="../../../images/dm24.png"></a>
    <a href="../../../images/008025.gif"><img src="../../../images/dm25.png"></a>
    <a href="../../../images/008026.gif"><img src="../../../images/dm26.png"></a>
    <a href="../../../images/008027.gif"><img src="../../../images/dm27.png"></a>
    <a href="../../../images/008028.gif"><img src="../../../images/dm28.png"></a>
    <a href="../../../images/008029.gif"><img src="../../../images/dm29.png"></a>
    <a href="../../../images/008030.gif"><img src="../../../images/dm30.png"></a>
    <a href="../../../images/008031.gif"><img src="../../../images/dm31.png"></a>
    <a href="../../../images/008032.gif"><img src="../../../images/dm32.png"></a>
    <a href="../../../images/008033.gif"><img src="../../../images/dm33.png"></a>
    <a href="../../../images/008034.gif"><img src="../../../images/dm34.png"></a>
    <a href="../../../images/008035.gif"><img src="../../../images/dm35.png"></a>
    <a href="../../../images/008036.gif"><img src="../../../images/dm36.png"></a>
    <a href="../../../images/008037.gif"><img src="../../../images/dm37.png"></a>
    <a href="../../../images/008038.gif"><img src="../../../images/dm38.png"></a>
    <a href="../../../images/008039.gif"><img src="../../../images/dm39.png"></a>
    <a href="../../../images/008040.gif"><img src="../../../images/dm40.png"></a>
</div>

    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>