---
import "../../../styles/naika-detail.css";
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高脂血症</title>
    <link rel="stylesheet" href="../naika-detail.css" />
</head>

<body>
    <header class="sub-header">
        <h1>高脂血症</h1>
        <p>気になる画像をクリックして詳細をチェック</p>
    </header>

<div class="container">
    <a href="../../../images/003011.gif"><img src="../../../images/lip11.png"></a>
    <a href="../../../images/003012.gif"><img src="../../../images/lip12.png"></a>
    <a href="../../../images/003013.gif"><img src="../../../images/lip3.png"></a>
    <a href="../../../images/003014.gif"><img src="../../../images/lip14.png"></a>
    <a href="../../../images/003015.gif"><img src="../../../images/lip15.png"></a>
    <a href="../../../images/003016.gif"><img src="../../../images/lip16.png"></a>
    <a href="../../../images/003017.gif"><img src="../../../images/lip17.png"></a>
    <a href="../../../images/003018.gif"><img src="../../../images/lip18.png"></a>
    <a href="../../../images/003019.gif"><img src="../../../images/lip19.png"></a>
    <a href="../../../images/003020.gif"><img src="../../../images/lip20.png"></a>
</div>


    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 砂辺クリニック</p>
        </div>
    </footer>