<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>魚介 | 読者レシピ</title>
  <link rel="stylesheet" href="style-recipes.css">
</head>

<body>

  <header>
    <h1>魚介カテゴリの食材</h1>
    <p>気になる材料を選んでレシピをチェック</p>
    <a href="https://sunabeclinichp.vivian.jp/">ホームへ戻る</a>
  </header>

  <main>

    <div class="popup-guide" id="popupGuide">
      食材画像をタップすると、レシピページに移動します。
      <span onclick="document.getElementById('popupGuide').style.display='none'">✕</span>
    </div>

    <ul class="bean-list">
      <li><a class="recipe-btn" href="zairyo/unagi-recipes.html"><img src="images/unagi.jpg" alt="うなぎ"></a></li>
      <li><a class="recipe-btn" href="zairyo/magurochu-recipes.html"><img src="images/maguro.jpg" alt="まぐろ(中トロ)"></a></li>
      <li><a class="recipe-btn" href="zairyo/buri-recipes.html"><img src="images/buri.jpg" alt="ぶり"></a></li>
      <li><a class="recipe-btn" href="zairyo/salmon-recipes.html"><img src="images/sa-mon.jpg" alt="サーモン"></a></li>
      <li><a class="recipe-btn" href="zairyo/saba-recipes.html"><img src="images/saba.jpg" alt="鯖"></a></li>
      <li><a class="recipe-btn" href="zairyo/iwashi-recipes.html"><img src="images/iwasi.jpg" alt="いわし"></a></li>
      <li><a class="recipe-btn" href="zairyo/sake-recipes.html"><img src="images/sake.jpg" alt="さけ"></a></li>
      <li><a class="recipe-btn" href="zairyo/maguroakami-recipes.html"><img src="images/maguro.jpg" alt="まぐろ(赤身)"></a></li>
      <li><a class="recipe-btn" href="zairyo/ebi-recipes.html"><img src="images/ebi.jpg" alt="えび"></a></li>
      <li><a class="recipe-btn" href="zairyo/ika-recipes.html"><img src="images/ika.jpg" alt="いか"></a></li>
      <li><a class="recipe-btn" href="zairyo/tako-recipes.html"><img src="images/tako.jpg" alt="たこ"></a></li>
      <li><a class="recipe-btn" href="zairyo/wakame-recipes.html"><img src="images/wakame.jpg" alt="わかめ"></a></li>
      <li><a class="recipe-btn" href="zairyo/kikurage-recipes.html"><img src="images/kikurage.jpg" alt="きくらげ"></a></li>
    </ul>

  </main>

</body>

</html>
