---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Narration from "../components/Narration.astro";

import TodayScheduleImage from "../components/TodayScheduleImage.astro";

import "../styles/style.css";
---

<!doctype html>
<html lang="ja">
    <head>
        <script src="https://js.ptengine.jp/55iy7etj.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>砂辺クリニック</title>
        <link rel="stylesheet" href="main-style.css" />
        <script src="https://js.ptengine.jp/554zwt96.js"></script>
        <meta
            name="description"
            content="沖縄・北谷の砂辺クリニック。内科・皮膚科・漢方の予約診療に対応し、健康・レシピ情報も掲載。スマホでも見やすく、使いやすい公式サイト。"
        />
    </head>

    <body>
        <Header />
        <main>
            <section class="hero">
                <img
                    id="slideshow-top"
                    alt="トップ画像"
                    class="responsive-img"
                />
                <h2>予約のない方の待ち時間は長いです。</h2>
                <h2>
                    プロの写真家・デザイナーの院長(砂辺)による写真を講座をはじめました<br
                    />ご覧ください
                </h2>
                <h2>来週自分で作るホームページの作り方を説明します。</h2>
                <h2>トップページには、日常生活に役立つ情報を掲載します。<br>
                医療情報は各ページを参照ください。
                </h2>
            </section>

            <Narration />

            <section class="promo">
                <div class="sns-buttons">
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="/images/10000.jpg"
                            alt="LINE予約1"
                            class="fixed-size"
                        /></a
                    >
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="/images/10001.jpg"
                            alt="LINE予約2"
                            class="fixed-size"
                        /></a
                    >
                    <a href="tel:098-936-6270"
                        ><img
                            src="/images/10002.jpg"
                            alt="電話"
                            class="fixed-size"
                        /></a
                    >
                </div>
            </section>

            <section class="slides">
                <h2>ポエムの世界<br />医院長のひとり旅</h2>
                <img src="images/oya-7.gif" class="responsive-img fade-up" />

                <h2>
                    初心者の貴方。wordでお店や学校の立てパンフレットを作りましょう。<br
                    />３０分でできます。
                </h2>
                <img
                    src="images/top1-0.jpg"
                    class="responsive-img fade-up"
                    alt=""
                />

                <h2>その１：はじめましょう</h2>
                <img
                    id="slideshow-1"
                    class="responsive-img fade-up"
                    alt="野菜スライド"
                />

                <h2>その２：保存とページ設定</h2>
                <img
                    id="slideshow-2"
                    class="responsive-img fade-up"
                    alt="果物スライド"
                />

                <h2>その３：wordの文字をマスターしよう</h2>
                <img
                    id="slideshow-3"
                    class="responsive-img fade-up"
                    alt="レシピ"
                />

                <h2>その４：スマホの写真設定・縦長に！</h2>
                <img
                    id="slideshow-4"
                    class="responsive-img fade-up"
                    alt="糖尿病"
                />

                <h2>その５：写真の移動・サイズの変更をしよう</h2>
                <img
                    id="slideshow-5"
                    class="responsive-img fade-up"
                    alt="血圧"
                />

                <h2>その６：完成です</h2>
                <img
                    id="slideshow-6"
                    class="responsive-img fade-up"
                    alt="ダイエット"
                />

                <h2>その５</h2>
                <img
                    id="slideshow-7"
                    class="responsive-img fade-up"
                    alt="高脂血症"
                />

                <h2>
                    読者レシピ（明後日レシピ専門開館）<br
                    />（毎時間１日２４回上映）
                </h2>

                <img
                    id="slideshow-8"
                    class="responsive-img fade-up"
                    alt="皮膚科"
                />
            </section>

            <section class="calendar">
                <img src="/images/8gatu1.jpg" class="responsive-img" />
                <img src="/images/kugatu.jpg" class="responsive-img" />
            </section>

            <section class="info">
                <h2>医院情報</h2>
                <img
                    src="/images/pr.jpg"
                    class="responsive-img"
                    alt="医院情報"
                />
            </section>
        </main>

        <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button"
            >LINEで予約する</a
        >

        <Footer />

        <TodayScheduleImage />
        <script>
            const scheduleInfo = [
                { startHour: 0, image: "/images/atti90.jpg" },
                { startHour: 1, image: "/images/atti89.jpg" },
                { startHour: 2, image: "/images/atti88.jpg" },
                { startHour: 3, image: "/images/atti87.jpg" },
                { startHour: 4, image: "/images/atti86.jpg" },
                { startHour: 5, image: "/images/atti1.jpg" },
                { startHour: 6, image: "/images/atti90.jpg" },
                { startHour: 7, image: "/images/atti89.jpg" },
                { startHour: 8, image: "/images/atti88.jpg" },
                { startHour: 9, image: "/images/atti87.jpg" },
                { startHour: 10, image: "/images/atti86.jpg" },
                { startHour: 12, image: "/images/atti1.jpg" },
                { startHour: 13, image: "/images/atti90.jpg" },
                { startHour: 14, image: "/images/atti89.jpg" },
                { startHour: 15, image: "/images/atti87.jpg" },
                { startHour: 16, image: "/images/atti88.jpg" },
                { startHour: 17, image: "/images/atti1.jpg" },
                { startHour: 18, image: "/images/atti86.jpg" },
                { startHour: 19, image: "/images/atti87.jpg" },
                { startHour: 20, image: "/images/atti88.jpg" },
                { startHour: 21, image: "/images/atti89.jpg" },
                { startHour: 22, image: "/images/atti90.jpg" },
                { startHour: 23, image: "/images/atti1.jpg" },
            ];

            const schedule1 = [
                { startHour: 0, image: "/images/top1-1.jpg" },
                { startHour: 1, image: "/images/top1-1.jpg" },
                { startHour: 2, image: "/images/top1-1.jpg" },
                { startHour: 3, image: "/images/top1-1.jpg" },
                { startHour: 4, image: "/images/top1-1.jpg" },
                { startHour: 5, image: "/images/top1-1.jpg" },
                { startHour: 6, image: "/images/top1-1.jpg" },
                { startHour: 7, image: "/images/top1-1.jpg" },
                { startHour: 8, image: "/images/top1-1.jpg" },
                { startHour: 9, image: "/images/top1-1.jpg" },
                { startHour: 10, image: "/images/top1-1.jpg" },
                { startHour: 11, image: "/images/top1-1.jpg" },
                { startHour: 12, image: "/images/top1-1.jpg" },
                { startHour: 13, image: "/images/hifu12-3.gif" },
                { startHour: 14, image: "/images/hifu13-3.gif" },
                { startHour: 15, image: "/images/hifu12-3.gif" },
                { startHour: 16, image: "/images/hifu1-3.gif" },
                { startHour: 17, image: "/images/hifu2-3.gif" },
                { startHour: 18, image: "/images/hifu3-3.gif" },
                { startHour: 19, image: "/images/hifu4-3.gif" },
                { startHour: 20, image: "/images/hifu5-3.gif" },
                { startHour: 21, image: "/images/hifu6-3.gif" },
                { startHour: 22, image: "/images/hifu7-3.gif" },
                { startHour: 23, image: "/images/hifu8-3.gif" },
            ];

            const schedule2 = [
                { startHour: 0, image: "/images/top1-2.jpg" },
                { startHour: 1, image: "/images/top1-2.jpg" },
                { startHour: 2, image: "/images/top1-2.jpg" },
                { startHour: 3, image: "/images/top1-2.jpg" },
                { startHour: 4, image: "/images/top1-2.jpg" },
                { startHour: 5, image: "/images/top1-2.jpg" },
                { startHour: 6, image: "/images/top1-2.jpg" },
                { startHour: 7, image: "/images/top1-2.jpg" },
                { startHour: 8, image: "/images/top1-2.jpg" },
                { startHour: 9, image: "/images/top1-2.jpg" },
                { startHour: 10, image: "/images/top1-2.jpg" },
                { startHour: 11, image: "/images/top1-2.jpg" },
                { startHour: 12, image: "/images/top1-2.jpg" },
                { startHour: 13, image: "/images/21-4ks.gif" },
                { startHour: 14, image: "/images/21-5ks.gif" },
                { startHour: 15, image: "/images/18-1ks.gif" },
                { startHour: 16, image: "/images/18-2ks.gif" },
                { startHour: 17, image: "/images/18-4ks.gif" },
                { startHour: 18, image: "/images/21-1ks.gif" },
                { startHour: 19, image: "/images/21-2ks.gif" },
                { startHour: 20, image: "/images/21-3ks.gif" },
                { startHour: 21, image: "/images/21-4ks.gif" },
                { startHour: 22, image: "/images/21-5ks.gif" },
                { startHour: 23, image: "/images/18-5ks.gif" },
            ];

            const schedule3 = [
                { startHour: 0, image: "/images/top1-3.jpg" },
                { startHour: 1, image: "/images/top1-3.jpg" },
                { startHour: 2, image: "/images/top1-3.jpg" },
                { startHour: 3, image: "/images/top1-3.jpg" },
                { startHour: 4, image: "/images/top1-3.jpg" },
                { startHour: 5, image: "/images/top1-3.jpg" },
                { startHour: 6, image: "/images/top1-3.jpg" },
                { startHour: 7, image: "/images/top1-3.jpg" },
                { startHour: 8, image: "/images/top1-3.jpg" },
                { startHour: 9, image: "/images/top1-3.jpg" },
                { startHour: 10, image: "/images/top1-3.jpg" },
                { startHour: 11, image: "/images/top1-3.jpg" },
                { startHour: 12, image: "/images/top1-3.jpg" },
                { startHour: 13, image: "/images/kans4.jpg" },
                { startHour: 14, image: "/images/kans5.jpg" },
                { startHour: 15, image: "/images/kans6.jpg" },
                { startHour: 16, image: "/images/kans7.jpg" },
                { startHour: 17, image: "/images/kans8.jpg" },
                { startHour: 18, image: "/images/kans9.jpg" },
                { startHour: 19, image: "/images/kans10.jpg" },
                { startHour: 20, image: "/images/kans1.jpg" },
                { startHour: 21, image: "/images/kans2.jpg" },
                { startHour: 22, image: "/images/kans3.jpg" },
                { startHour: 23, image: "/images/kans4.jpg" },
                { startHour: 24, image: "/images/kans5.jpg" },
            ];

            const schedule4 = [
                { startHour: 0, image: "/images/top1-4.jpg" },
                { startHour: 1, image: "/images/top1-4.jpg" },
                { startHour: 2, image: "/images/top1-4.jpg" },
                { startHour: 3, image: "/images/top1-4.jpg" },
                { startHour: 4, image: "/images/top1-4.jpg" },
                { startHour: 5, image: "/images/top1-4.jpg" },
                { startHour: 6, image: "/images/top1-4.jpg" },
                { startHour: 7, image: "/images/top1-4.jpg" },
                { startHour: 8, image: "/images/top1-4.jpg" },
                { startHour: 9, image: "/images/top1-4.jpg" },
                { startHour: 10, image: "/images/top1-4.jpg" },
                { startHour: 11, image: "/images/top1-4.jpg" },
                { startHour: 12, image: "/images/top1-4.jpg" },
                { startHour: 13, image: "/images/dm6s.jpg" },
                { startHour: 14, image: "/images/dm7s.jpg" },
                { startHour: 15, image: "/images/dm1s.jpg" },
                { startHour: 16, image: "/images/dm2s.jpg" },
                { startHour: 17, image: "/images/dm3s.jpg" },
                { startHour: 18, image: "/images/dm4s.jpg" },
                { startHour: 19, image: "/images/dm5s.jpg" },
                { startHour: 20, image: "/images/dm6s.jpg" },
                { startHour: 21, image: "/images/dm7s.jpg" },
                { startHour: 22, image: "/images/dm5s.jpg" },
                { startHour: 23, image: "/images/dm6s.jpg" },
                { startHour: 24, image: "/images/dm7s.jpg" },
            ];

            const schedule5 = [
                { startHour: 0, image: "/images/top1-5.jpg" },
                { startHour: 1, image: "/images/top1-5.jpg" },
                { startHour: 2, image: "/images/top1-5.jpg" },
                { startHour: 3, image: "/images/top1-5.jpg" },
                { startHour: 4, image: "/images/top1-5.jpg" },
                { startHour: 5, image: "/images/top1-5.jpg" },
                { startHour: 6, image: "/images/top1-5.jpg" },
                { startHour: 7, image: "/images/top1-5.jpg" },
                { startHour: 8, image: "/images/top1-5.jpg" },
                { startHour: 9, image: "/images/top1-5.jpg" },
                { startHour: 10, image: "/images/top1-5.jpg" },
                { startHour: 11, image: "/images/top1-5.jpg" },
                { startHour: 12, image: "/images/top1-5.jpg" },
                { startHour: 13, image: "/images/lip5s.jpg" },
                { startHour: 14, image: "/images/lip6s.jpg" },
                { startHour: 15, image: "/images/lip7s.jpg" },
                { startHour: 16, image: "/images/lip4s.jpg" },
                { startHour: 17, image: "/images/lip5s.jpg" },
                { startHour: 18, image: "/images/lip6s.jpg" },
                { startHour: 19, image: "/images/lip7s.jpg" },
                { startHour: 20, image: "/images/lip4s.jpg" },
                { startHour: 21, image: "/images/lip5s.jpg" },
                { startHour: 22, image: "/images/lip6s.jpg" },
                { startHour: 23, image: "/images/lip7s.jpg" },
            ];

            const schedule6 = [
                { startHour: 0, image: "/images/tpo1-6.jpg" },
                { startHour: 1, image: "/images/top1-6.jpg" },
                { startHour: 2, image: "/images/top1-6.jpg" },
                { startHour: 3, image: "/images/top1-6.jpg" },
                { startHour: 4, image: "/images/top1-6.jpg" },
                { startHour: 5, image: "/images/top1-6.jpg" },
                { startHour: 6, image: "/images/top1-6.jpg" },
                { startHour: 7, image: "/images/top1-6.jpg" },
                { startHour: 8, image: "/images/top1-6.jpg" },
                { startHour: 9, image: "/images/top1-6.jpg" },
                { startHour: 10, image: "/images/top1-6.jpg" },
                { startHour: 11, image: "/images/top1-6.jpg" },
                { startHour: 12, image: "/images/top1-6.jpg" },
                { startHour: 13, image: "/images/diet1s.jpg" },
                { startHour: 14, image: "/images/diet2s.jpg" },
                { startHour: 15, image: "/images/diet3s.jpg" },
                { startHour: 16, image: "/images/diet4s.jpg" },
                { startHour: 17, image: "/images/diet5s.jpg" },
                { startHour: 18, image: "/images/diet6s.jpg" },
                { startHour: 19, image: "/images/diet7s.jpg" },
                { startHour: 20, image: "/images/diet8s.jpg" },
                { startHour: 21, image: "/images/diet9s.jpg" },
                { startHour: 22, image: "/images/diet23s.jpg" },
                { startHour: 23, image: "/images/diet24s.jpg" },
            ];

            const schedule7 = [
                { startHour: 0, image: "/images/ketuatu9s.jpg" },
                { startHour: 1, image: "/images/ketuatu10s.jpg" },
                { startHour: 2, image: "/images/ketuatu11s.jpg" },
                { startHour: 3, image: "/images/ketuatu12s.jpg" },
                { startHour: 4, image: "/images/ketuatu9s.jpg" },
                { startHour: 5, image: "/images/ketuatu10s.jpg" },
                { startHour: 6, image: "/images/ketuatu11s.jpg" },
                { startHour: 7, image: "/images/ketuatu12s.jpg" },
                { startHour: 8, image: "/images/ketuatu9s.jpg" },
                { startHour: 9, image: "/images/ketuatu10s.jpg" },
                { startHour: 10, image: "/images/ketuatu11s.jpg" },
                { startHour: 11, image: "/images/ketuatu12s.jpg" },
                { startHour: 12, image: "/images/ketuatu9s.jpg" },
                { startHour: 13, image: "/images/ketuatu10s.jpg" },
                { startHour: 14, image: "/images/ketuatu11s.jpg" },
                { startHour: 15, image: "/images/ketuatu12s.jpg" },
                { startHour: 16, image: "/images/ketuatu9s.jpg" },
                { startHour: 17, image: "/images/ketuatu10s.jpg" },
                { startHour: 18, image: "/images/ketuatu11s.jpg" },
                { startHour: 19, image: "/images/ketuatu12s.jpg" },
                { startHour: 20, image: "/images/ketuatu9s.jpg" },
                { startHour: 21, image: "/images/ketuatu10s.jpg" },
                { startHour: 22, image: "/images/ketuatu11s.jpg" },
                { startHour: 23, image: "/images/ketuatu12s.jpg" },
            ];

            const schedule8 = [
                { startHour: 0, image: "/images/tabe1.gif" },
                { startHour: 1, image: "/images/tabe2.gif" },
                { startHour: 2, image: "/images/tabe3.gif" },
                { startHour: 3, image: "/images/tabe4.gif" },
                { startHour: 4, image: "/images/tabe5.gif" },
                { startHour: 5, image: "/images/tabe6.gif" },
                { startHour: 6, image: "/images/tabe7.gif" },
                { startHour: 7, image: "/images/tabe8.gif" },
                { startHour: 8, image: "/images/tabe9.gif" },
                { startHour: 9, image: "/images/tabe10.gif" },
                { startHour: 10, image: "/images/tabe11.gif" },
                { startHour: 11, image: "/images/tabe12.gif" },
                { startHour: 12, image: "/images/tabe13.gif" },
                { startHour: 13, image: "/images/tabe14.gif" },
                { startHour: 14, image: "/images/tabe15.gif" },
                { startHour: 15, image: "/images/tabe16.gif" },
                { startHour: 16, image: "/images/tabe17.gif" },
                { startHour: 17, image: "/images/tabe18.gif" },
                { startHour: 18, image: "/images/tabe19.gif" },
                { startHour: 19, image: "/images/tabe20.gif" },
                { startHour: 20, image: "/images/tabe1.gif" },
                { startHour: 21, image: "/images/tabe2.gif" },
                { startHour: 22, image: "/images/tabe3.gif" },
                { startHour: 23, image: "/images/tabe4.gif" },
                { startHour: 24, image: "/images/tabe5.gif" },
            ];
            // @ts-ignore
            function getImageForSchedule(schedule) {
                const now = new Date();
                const hour = now.getHours();
                for (let i = schedule.length - 1; i >= 0; i--) {
                    if (hour >= schedule[i].startHour) return schedule[i].image;
                }
                return schedule[schedule.length - 1].image;
            }
            const slideshowIds = [
                ["slideshow-info", scheduleInfo],
                ["slideshow-1", schedule1],
                ["slideshow-2", schedule2],
                ["slideshow-3", schedule3],
                ["slideshow-4", schedule4],
                ["slideshow-5", schedule5],
                ["slideshow-6", schedule6],
                ["slideshow-7", schedule7],
                ["slideshow-8", schedule8],
            ];

            function updateAllSlideshows() {
                slideshowIds.forEach(([id, schedule]) => {
                    // @ts-ignore
                    const element = document.getElementById(id);
                    // @ts-ignore
                    if (element) element.src = getImageForSchedule(schedule);
                });
            }

            // 初期表示
            updateAllSlideshows();

            // 必要に応じて、定期更新も可能
            setInterval(updateAllSlideshows, 10 * 60 * 1000); // 10分ごとに更新
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("show");
                        }
                    });
                });

                document
                    .querySelectorAll(".fade-up")
                    .forEach((el) => observer.observe(el));
            });
        </script>
    </body>
</html>
