---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Narration from "../components/Narration.astro";

import TodayScheduleImage from "../components/TodayScheduleImage.astro";

import "../styles/style.css";
---

<!doctype html>
<html lang="ja">
    <head>
        <script src="https://js.ptengine.jp/55iy7etj.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>砂辺クリニック</title>
        <link rel="stylesheet" href="main-style.css" />
        <script src="https://js.ptengine.jp/554zwt96.js"></script>
        <meta
            name="description"
            content="沖縄・北谷の砂辺クリニック。内科・皮膚科・漢方の予約診療に対応し、健康・レシピ情報も掲載。スマホでも見やすく、使いやすい公式サイト。"
        />
    </head>

    <body>
        <Header />
        <main>
            <section class="hero">
                <img
                    id="slideshow-top"
                    alt="トップ画像"
                    class="responsive-img"
                />
                <h2>予約のない方の待ち時間は長いです。</h2>
                <h2>プロの写真家・デザイナー・小説家の院長による写真・デザイン・プリントおよび文筆の講義を展開中です<br/>スマホで自宅にいながらプロの写真家・デザイナーになることを目的にした記事です
                    <br/>ご覧ください
                </h2>
                <h2>今週はwordで「貴方もプロのフォトデザイナーになれます」です<br/>来週はオリジナルTシャツを作ろうです
                    <br/>再来週は「あなたのお店・学校のメニューを作ろう」です</h2>
                <h2>トップページには、日常生活に役立つ情報を掲載します<br>
                医療情報は各ページを参照ください。
                </h2>
            </section>

            <Narration />

            <section class="promo">
                <div class="sns-buttons">
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="/images/10000.jpg"
                            alt="LINE予約1"
                            class="fixed-size"
                        /></a
                    >
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="/images/10001.jpg"
                            alt="LINE予約2"
                            class="fixed-size"
                        /></a
                    >
                    <a href="tel:098-936-6270"
                        ><img
                            src="/images/10002.jpg"
                            alt="電話"
                            class="fixed-size"
                        /></a
                    >
                </div>
            </section>

            <section class="slides">
                <h2>ポエムの世界<br />医院長のひとり旅</h2>
                <img src="images/oya-8.gif" class="responsive-img fade-up" />

                <h2>
                    初心者の貴方。wordでプロのフォトデザイナーになりましょう。<br
                    />３０分でできます。
                </h2>
                <img
                    src="images/top2t.jpg"
                    class="responsive-img fade-up"
                    alt=""
                />

                <h2>その１：はじめましょう</h2>
                <img
                    id="slideshow-1"
                    class="responsive-img fade-up"
                    alt="野菜スライド"
                />

                <h2>その２：レイアウトしましょう</h2>
                <img
                    id="slideshow-2"
                    class="responsive-img fade-up"
                    alt="果物スライド"
                />

                <h2>その３：wordに写真を入れましょう</h2>
                <img
                    id="slideshow-3"
                    class="responsive-img fade-up"
                    alt="レシピ"
                />

                <h2>その４：写真の修整をしましょう</h2>
                <img
                    id="slideshow-4"
                    class="responsive-img fade-up"
                    alt="糖尿病"
                />

                <h2>その５：よりユニークな作品に変身</h2>
                <img
                    id="slideshow-5"
                    class="responsive-img fade-up"
                    alt="血圧"
                />

                <h2>その６：あなたはプロデザイナーです</h2>
                <img
                    id="slideshow-6"
                    class="responsive-img fade-up"
                    alt="ダイエット"
                />

                <h2>次週の予告：wordで写真編集<br />編集ソフト不要</h2>
                <img
                    id="slideshow-7"
                    class="responsive-img fade-up"
                    alt="高脂血症"
                />

                <h2>
                    再来週予告<br
                    />wordで編集したフォトで自作Tシャツを作ろう
                </h2>

                <img
                    id="slideshow-8"
                    class="responsive-img fade-up"
                    alt="皮膚科"
                />
            </section>

            <section class="calendar">
                <img src="/images/8gatu1.jpg" class="responsive-img" />
                <img src="/images/kugatu.jpg" class="responsive-img" />
            </section>

            <section class="info">
                <h2>医院情報</h2>
                <img
                    src="/images/pr.jpg"
                    class="responsive-img"
                    alt="医院情報"
                />
            </section>
        </main>

        <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button"
            >LINEで予約する</a
        >

        <Footer />

        <TodayScheduleImage />
        <script>
            const scheduleInfo = [
                { startHour: 0, image: "/images/atti90.jpg" },
                { startHour: 1, image: "/images/atti89.jpg" },
                { startHour: 2, image: "/images/atti88.jpg" },
                { startHour: 3, image: "/images/atti87.jpg" },
                { startHour: 4, image: "/images/atti86.jpg" },
                { startHour: 5, image: "/images/atti1.jpg" },
                { startHour: 6, image: "/images/atti90.jpg" },
                { startHour: 7, image: "/images/atti89.jpg" },
                { startHour: 8, image: "/images/atti88.jpg" },
                { startHour: 9, image: "/images/atti87.jpg" },
                { startHour: 10, image: "/images/atti86.jpg" },
                { startHour: 12, image: "/images/atti1.jpg" },
                { startHour: 13, image: "/images/atti90.jpg" },
                { startHour: 14, image: "/images/atti89.jpg" },
                { startHour: 15, image: "/images/atti87.jpg" },
                { startHour: 16, image: "/images/atti88.jpg" },
                { startHour: 17, image: "/images/atti1.jpg" },
                { startHour: 18, image: "/images/atti86.jpg" },
                { startHour: 19, image: "/images/atti87.jpg" },
                { startHour: 20, image: "/images/atti88.jpg" },
                { startHour: 21, image: "/images/atti89.jpg" },
                { startHour: 22, image: "/images/atti90.jpg" },
                { startHour: 23, image: "/images/atti1.jpg" },
            ];

            const schedule1 = [
                { startHour: 0, image: "/images/top2-1.jpg" },
                { startHour: 1, image: "/images/top2-1.jpg" },
                { startHour: 2, image: "/images/top2-1.jpg" },
                { startHour: 3, image: "/images/top2-1.jpg" },
                { startHour: 4, image: "/images/top2-1.jpg" },
                { startHour: 5, image: "/images/top2-1.jpg" },
                { startHour: 6, image: "/images/top2-1.jpg" },
                { startHour: 7, image: "/images/top2-1.jpg" },
                { startHour: 8, image: "/images/top2-1.jpg" },
                { startHour: 9, image: "/images/top2-1.jpg" },
                { startHour: 10, image: "/images/top2-1.jpg" },
                { startHour: 11, image: "/images/top2-1.jpg" },
                { startHour: 12, image: "/images/top2-1.jpg" },
                { startHour: 13, image: "/images/top2-1.jpg" },
                { startHour: 14, image: "/images/top2-1.jpg" },
                { startHour: 15, image: "/images/top2-1.jpg" },
                { startHour: 16, image: "/images/top2-1.jpg" },
                { startHour: 17, image: "/images/top2-1.jpg" },
                { startHour: 18, image: "/images/top2-1.jpg" },
                { startHour: 19, image: "/images/top2-1.jpg" },
                { startHour: 20, image: "/images/top2-1.jpg" },
                { startHour: 21, image: "/images/top2-1.jpg" },
                { startHour: 22, image: "/images/top2-1.jpg" },
                { startHour: 23, image: "/images/top2-1.jpg" },
            ];

            const schedule2 = [
                { startHour: 0, image: "/images/top2-2.jpg" },
                { startHour: 1, image: "/images/top2-2.jpg" },
                { startHour: 2, image: "/images/top2-2.jpg" },
                { startHour: 3, image: "/images/top2-2.jpg" },
                { startHour: 4, image: "/images/top2-2.jpg" },
                { startHour: 5, image: "/images/top2-2.jpg" },
                { startHour: 6, image: "/images/top2-2.jpg" },
                { startHour: 7, image: "/images/top2-2.jpg" },
                { startHour: 8, image: "/images/top2-2.jpg" },
                { startHour: 9, image: "/images/top2-2.jpg" },
                { startHour: 10, image: "/images/top2-2.jpg" },
                { startHour: 11, image: "/images/top2-2.jpg" },
                { startHour: 12, image: "/images/top2-2.jpg" },
                { startHour: 13, image: "/images/top2-2.jpg" },
                { startHour: 14, image: "/images/top2-2.jpg" },
                { startHour: 15, image: "/images/top2-2.jpg" },
                { startHour: 16, image: "/images/top2-2.jpg" },
                { startHour: 17, image: "/images/top2-2.jpg" },
                { startHour: 18, image: "/images/top2-2.jpg" },
                { startHour: 19, image: "/images/top2-2.jpg" },
                { startHour: 20, image: "/images/top2-2.jpg" },
                { startHour: 21, image: "/images/top2-2.jpg" },
                { startHour: 22, image: "/images/top2-2.jpg" },
                { startHour: 23, image: "/images/top2-2.jpg" },
            ];

            const schedule3 = [
                { startHour: 0, image: "/images/top2-3.jpg" },
                { startHour: 1, image: "/images/top2-3.jpg" },
                { startHour: 2, image: "/images/top2-3.jpg" },
                { startHour: 3, image: "/images/top2-3.jpg" },
                { startHour: 4, image: "/images/top2-3.jpg" },
                { startHour: 5, image: "/images/top2-3.jpg" },
                { startHour: 6, image: "/images/top2-3.jpg" },
                { startHour: 7, image: "/images/top2-3.jpg" },
                { startHour: 8, image: "/images/top2-3.jpg" },
                { startHour: 9, image: "/images/top2-3.jpg" },
                { startHour: 10, image: "/images/top2-3.jpg" },
                { startHour: 11, image: "/images/top2-3.jpg" },
                { startHour: 12, image: "/images/top2-3.jpg" },
                { startHour: 13, image: "/images/top2-3.jpg" },
                { startHour: 14, image: "/images/top2-3.jpg" },
                { startHour: 15, image: "/images/top2-3.jpg" },
                { startHour: 16, image: "/images/top2-3.jpg" },
                { startHour: 17, image: "/images/top2-3.jpg" },
                { startHour: 18, image: "/images/top2-3.jpg" },
                { startHour: 19, image: "/images/top2-3.jpg" },
                { startHour: 20, image: "/images/top2-3.jpg" },
                { startHour: 21, image: "/images/top2-3.jpg" },
                { startHour: 22, image: "/images/top2-3.jpg" },
                { startHour: 23, image: "/images/top2-3.jpg" },
                { startHour: 24, image: "/images/top2-3.jpg" },
            ];

            const schedule4 = [
                { startHour: 0, image: "/images/top2-4.jpg" },
                { startHour: 1, image: "/images/top2-4.jpg" },
                { startHour: 2, image: "/images/top2-4.jpg" },
                { startHour: 3, image: "/images/top2-4.jpg" },
                { startHour: 4, image: "/images/top2-4.jpg" },
                { startHour: 5, image: "/images/top2-4.jpg" },
                { startHour: 6, image: "/images/top2-4.jpg" },
                { startHour: 7, image: "/images/top2-4.jpg" },
                { startHour: 8, image: "/images/top2-4.jpg" },
                { startHour: 9, image: "/images/top2-4.jpg" },
                { startHour: 10, image: "/images/top2-4.jpg" },
                { startHour: 11, image: "/images/top2-4.jpg" },
                { startHour: 12, image: "/images/top2-4.jpg" },
                { startHour: 13, image: "/images/top2-4.jpg" },
                { startHour: 14, image: "/images/top2-4.jpg" },
                { startHour: 15, image: "/images/top2-4.jpg" },
                { startHour: 16, image: "/images/top2-4.jpg" },
                { startHour: 17, image: "/images/top2-4.jpg" },
                { startHour: 18, image: "/images/top2-4.jpg" },
                { startHour: 19, image: "/images/top2-4.jpg" },
                { startHour: 20, image: "/images/top2-4.jpg" },
                { startHour: 21, image: "/images/top2-4.jpg" },
                { startHour: 22, image: "/images/top2-4.jpg" },
                { startHour: 23, image: "/images/top2-4.jpg" },
                { startHour: 24, image: "/images/top2-4.jpg" },
            ];

            const schedule5 = [
                { startHour: 0, image: "/images/top2-5.jpg" },
                { startHour: 1, image: "/images/top2-5.jpg" },
                { startHour: 2, image: "/images/top2-5.jpg" },
                { startHour: 3, image: "/images/top2-5.jpg" },
                { startHour: 4, image: "/images/top2-5.jpg" },
                { startHour: 5, image: "/images/top2-5.jpg" },
                { startHour: 6, image: "/images/top2-5.jpg" },
                { startHour: 7, image: "/images/top2-5.jpg" },
                { startHour: 8, image: "/images/top2-5.jpg" },
                { startHour: 9, image: "/images/top2-5.jpg" },
                { startHour: 10, image: "/images/top2-5.jpg" },
                { startHour: 11, image: "/images/top2-5.jpg" },
                { startHour: 12, image: "/images/top2-5.jpg" },
                { startHour: 13, image: "/images/top2-5.jpg" },
                { startHour: 14, image: "/images/top2-5.jpg" },
                { startHour: 15, image: "/images/top2-5.jpg" },
                { startHour: 16, image: "/images/top2-5.jpg" },
                { startHour: 17, image: "/images/top2-5.jpg" },
                { startHour: 18, image: "/images/top2-5.jpg" },
                { startHour: 19, image: "/images/top2-5.jpg" },
                { startHour: 20, image: "/images/top2-5.jpg" },
                { startHour: 21, image: "/images/top2-5.jpg" },
                { startHour: 22, image: "/images/top2-5.jpg" },
                { startHour: 23, image: "/images/top2-5.jpg" },
            ];

            const schedule6 = [
                { startHour: 0, image: "/images/top2-6.jpg" },
                { startHour: 1, image: "/images/top2-6.jpg" },
                { startHour: 2, image: "/images/top2-6.jpg" },
                { startHour: 3, image: "/images/top2-6.jpg" },
                { startHour: 4, image: "/images/top2-6.jpg" },
                { startHour: 5, image: "/images/top2-6.jpg" },
                { startHour: 6, image: "/images/top2-6.jpg" },
                { startHour: 7, image: "/images/top2-6.jpg" },
                { startHour: 8, image: "/images/top2-6.jpg" },
                { startHour: 9, image: "/images/top2-6.jpg" },
                { startHour: 10, image: "/images/top2-6.jpg" },
                { startHour: 11, image: "/images/top2-6.jpg" },
                { startHour: 12, image: "/images/top2-6.jpg" },
                { startHour: 13, image: "/images/top2-6.jpg" },
                { startHour: 14, image: "/images/top2-6.jpg" },
                { startHour: 15, image: "/images/top2-6.jpg" },
                { startHour: 16, image: "/images/top2-6.jpg" },
                { startHour: 17, image: "/images/top2-6.jpg" },
                { startHour: 18, image: "/images/top2-6.jpg" },
                { startHour: 19, image: "/images/top2-6.jpg" },
                { startHour: 20, image: "/images/top2-6.jpg" },
                { startHour: 21, image: "/images/top2-6.jpg" },
                { startHour: 22, image: "/images/top2-6.jpg" },
                { startHour: 23, image: "/images/top2-6.jpg" },
            ];

            const schedule7 = [
                { startHour: 0, image: "/images/yokoku1.jpg" },
                { startHour: 1, image: "/images/yokoku1.jpg" },
                { startHour: 2, image: "/images/yokoku1.jpg" },
                { startHour: 3, image: "/images/yokoku1.jpg" },
                { startHour: 4, image: "/images/yokoku1.jpg" },
                { startHour: 5, image: "/images/yokoku1.jpg" },
                { startHour: 6, image: "/images/yokoku1.jpg" },
                { startHour: 7, image: "/images/yokoku1.jpg" },
                { startHour: 8, image: "/images/yokoku1.jpg" },
                { startHour: 9, image: "/images/yokoku1.jpg" },
                { startHour: 10, image: "/images/yokoku1.jpg" },
                { startHour: 11, image: "/images/yokoku1.jpg" },
                { startHour: 12, image: "/images/yokoku1.jpg" },
                { startHour: 13, image: "/images/yokoku1.jpg" },
                { startHour: 14, image: "/images/yokoku1.jpg" },
                { startHour: 15, image: "/images/yokoku1.jpg" },
                { startHour: 16, image: "/images/yokoku1.jpg" },
                { startHour: 17, image: "/images/yokoku1.jpg" },
                { startHour: 18, image: "/images/yokoku1.jpg" },
                { startHour: 19, image: "/images/yokoku1.jpg" },
                { startHour: 20, image: "/images/yokoku1.jpg" },
                { startHour: 21, image: "/images/yokoku1.jpg" },
                { startHour: 22, image: "/images/yokoku1.jpg" },
                { startHour: 23, image: "/images/yokoku1.jpg" },
            ];

            const schedule8 = [
                { startHour: 0, image: "/images/yokoku2.jpg" },
                { startHour: 1, image: "/images/yokoku2.jpg" },
                { startHour: 2, image: "/images/yokoku2.jpg" },
                { startHour: 3, image: "/images/yokoku2.jpg" },
                { startHour: 4, image: "/images/yokoku2.jpg" },
                { startHour: 5, image: "/images/yokoku2.jpg" },
                { startHour: 6, image: "/images/yokoku2.jpg" },
                { startHour: 7, image: "/images/yokoku2.jpg" },
                { startHour: 8, image: "/images/yokoku2.jpg" },
                { startHour: 9, image: "/images/yokoku2.jpg" },
                { startHour: 10, image: "/images/yokoku2.jpg" },
                { startHour: 11, image: "/images/yokoku2.jpg" },
                { startHour: 12, image: "/images/yokoku2.jpg" },
                { startHour: 13, image: "/images/yokoku2.jpg" },
                { startHour: 14, image: "/images/yokoku2.jpg" },
                { startHour: 15, image: "/images/yokoku2.jpg" },
                { startHour: 16, image: "/images/yokoku2.jpg" },
                { startHour: 17, image: "/images/yokoku2.jpg" },
                { startHour: 18, image: "/images/yokoku2.jpg" },
                { startHour: 19, image: "/images/yokoku2.jpg" },
                { startHour: 20, image: "/images/yokoku2.jpg" },
                { startHour: 21, image: "/images/yokoku2.jpg" },
                { startHour: 22, image: "/images/yokoku2.jpg" },
                { startHour: 23, image: "/images/yokoku2.jpg" },
                { startHour: 24, image: "/images/yokoku2.jpg" },
            ];
            // @ts-ignore
            function getImageForSchedule(schedule) {
                const now = new Date();
                const hour = now.getHours();
                for (let i = schedule.length - 1; i >= 0; i--) {
                    if (hour >= schedule[i].startHour) return schedule[i].image;
                }
                return schedule[schedule.length - 1].image;
            }
            const slideshowIds = [
                ["slideshow-info", scheduleInfo],
                ["slideshow-1", schedule1],
                ["slideshow-2", schedule2],
                ["slideshow-3", schedule3],
                ["slideshow-4", schedule4],
                ["slideshow-5", schedule5],
                ["slideshow-6", schedule6],
                ["slideshow-7", schedule7],
                ["slideshow-8", schedule8],
            ];

            function updateAllSlideshows() {
                slideshowIds.forEach(([id, schedule]) => {
                    // @ts-ignore
                    const element = document.getElementById(id);
                    // @ts-ignore
                    if (element) element.src = getImageForSchedule(schedule);
                });
            }

            // 初期表示
            updateAllSlideshows();

            // 必要に応じて、定期更新も可能
            setInterval(updateAllSlideshows, 10 * 60 * 1000); // 10分ごとに更新
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add("show");
                        }
                    });
                });

                document
                    .querySelectorAll(".fade-up")
                    .forEach((el) => observer.observe(el));
            });
        </script>
    </body>
</html>
