---
import "../../../styles/stylek.css";
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>八味地黄丸</title>
</head>
<body>

    <header>
        <h1>八味地黄丸</h1>
        <p><a href="https://sunabeclinichp.vivian.jp/">ホームに戻る</a></p>
    </header>

    <main>
        <a href="../../../images/7-1mae.jpg">
            <img src="../../../images/gairyaku.png" alt="八味地黄丸の概要">
        </a>
        <a href="../../../images/7-2mae.gif">
            <img src="../../../images/sosei.png" alt="八味地黄丸の構成">
        </a>
        <a href="../../../images/7-3mae.gif">
            <img src="../../../images/kaisetsu.png" alt="八味地黄丸の解説">
        </a>
    </main>

    <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
        LINEで予約する
    </a>

    <style>
        .fixed-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #06C755;
            color: white;
            padding: 15px 25px;
            font-siz
