---
import "../../../styles/stylek.css";
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>竜胆瀉肝湯</title>
</head>
<body>

<header>
    <h1>竜胆瀉肝湯</h1>
</header>

<main>
    <a href="../../../images/76-1.jpg">
        <img src="../../../images/gairyaku.png" >
    </a>
    <a href="../../../images/76-2.jpg">
        <img src="../../../images/sosei.png">
    </a>
    <a href="../../../images/76-3.jpg">
        <img src="../../../images/kaisetsu.png">
    </a>
</main>

<footer>
    <p>&copy; 2025 砂辺クリニック</p>
    <a href="/">ホームに戻る</a>
</footer>

</body>
</html>
