<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>抑肝散加陳皮半夏</title>
    <link rel="stylesheet" href="../stylek.css">
</head>
<body>

<header>
    <h1>抑肝散加陳皮半夏</h1>
</header>

<main>
    <a href="../images/83-1.jpg"><img src="../images/g.png" ></a>
    <a href="../images/83-2.gif"><img src="../images/s.png" ></a>
    <a href="../images/83-3.jpg"><img src="../images/k.png" ></a>
</main>

<footer>
    <p>&copy; 2025 砂辺クリニック</p>
</footer>

</body>
</html>
