<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大柴胡湯</title>
    <link rel="stylesheet" href="../stylek.css">
</head>
<body>

    <header>
        <h1>大柴胡湯</h1>
    </header>

    <main>
       <a href="../images/8-1mae.jpg"><img src="../images/8-1.png" alt="大柴胡湯 成分1"></a>
       <a href="../images/8-2mae.gif"><img src="../images/8-2.png" alt="大柴胡湯 成分2"></a>
       <a href="../images/8-3mae.gif"><img src="../images/8-3.png" alt="大柴胡湯 成分3"></a>
    </main>

    <footer>
        <p>&copy; 2025 砂辺クリニック</p>
    </footer>

</body>
</html>
