---
import Header from "../../../components/header.astro"
import Footer from "../../../components/footer.astro"

import "../../../styles/kanpoNo-style.css";
---
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>漢方番号</title>
    <link rel="stylesheet" href="../kanpoNo-style.css">
</head>

<body>
<Header  />
    <main>
        <section class="hero">


            <section class="kampo-gallery">

<a href="kan1"><img class="kampo-thumb" src="../../images/1jp.jpg" alt="ツムラ葛根湯"></a>
<a href="kan2"><img class="kampo-thumb" src="../../images/no2.jpg" alt="葛根湯加川芎辛夷"></a>
<a href="kan3"><img class="kampo-thumb" src="../../images/no3.jpg" alt="乙字湯"></a>
<a href="kan5"><img class="kampo-thumb" src="../../images/no5.jpg" alt="安中散"></a>
<a href="kan6"><img class="kampo-thumb" src="../../images/no6.jpg" alt="十味敗毒湯"></a>
<a href="kan7"><img class="kampo-thumb" src="../../images/no7.jpg" alt="八味地黄丸"></a>
<a href="kan8"><img class="kampo-thumb" src="../../images/no8.jpg" alt="大柴胡湯"></a>
<a href="kan10"><img class="kampo-thumb" src="../../images/no10.jpg" alt="柴胡桂枝湯"></a>
<a href="kan11"><img class="kampo-thumb" src="../../images/no11.jpg" alt="柴胡桂枝乾姜湯"></a>
<a href="kan12"><img class="kampo-thumb" src="../../images/no12.jpg" alt="補中益気湯"></a>
<a href="kan14"><img class="kampo-thumb" src="../../images/no14.jpg" alt="六君子湯"></a>
<a href="kan15"><img class="kampo-thumb" src="../../images/no15.jpg" alt="抑肝散"></a>
<a href="kan16"><img class="kampo-thumb" src="../../images/no16.jpg" alt="桂枝加竜骨牡蛎湯"></a>
<a href="kan17"><img class="kampo-thumb" src="../../images/no17.jpg" alt="黄連解毒湯"></a>
<a href="kan18"><img class="kampo-thumb" src="../../images/no18.jpg" alt="甘草湯"></a>
<a href="kan19"><img class="kampo-thumb" src="../../images/no19.jpg" alt="麻黄湯"></a>
<a href="kan20"><img class="kampo-thumb" src="../../images/no20.jpg" alt="半夏厚朴湯"></a>

<a href="kan21"><img class="kampo-thumb" src="../../images/no21.jpg" alt="茵蔯蒿湯"></a>
<a href="kan22"><img class="kampo-thumb" src="../../images/no22.jpg" alt="五苓散"></a>
<a href="kan23"><img class="kampo-thumb" src="../../images/no23.jpg" alt="柴胡加竜骨牡蛎湯"></a>
<a href="kan24"><img class="kampo-thumb" src="../../images/no24.jpg" alt="当帰芍薬散"></a>
<a href="kan25"><img class="kampo-thumb" src="../../images/no25.jpg" alt="加味逍遥散"></a>
<a href="kan26"><img class="kampo-thumb" src="../../images/no26.jpg" alt="桂枝茯苓丸"></a>
<a href="kan27"><img class="kampo-thumb" src="../../images/no27.jpg" alt="温清飲"></a>
<a href="kan28"><img class="kampo-thumb" src="../../images/no28.jpg" alt="補中益気湯"></a>
<a href="kan29"><img class="kampo-thumb" src="../../images/no29.jpg" alt="半夏瀉心湯"></a>
<a href="kan30"><img class="kampo-thumb" src="../../images/no30.jpg" alt="防風通聖散"></a>
<a href="kan31"><img class="kampo-thumb" src="../../images/no31.jpg" alt="小青竜湯"></a>
<a href="kan32"><img class="kampo-thumb" src="../../images/no32.jpg" alt="麻黄附子細辛湯"></a>
<a href="kan33"><img class="kampo-thumb" src="../../images/no33.jpg" alt="清肺湯"></a>
<a href="kan34"><img class="kampo-thumb" src="../../images/no34.jpg" alt="桃核承気湯"></a>
<a href="kan35"><img class="kampo-thumb" src="../../images/no35.jpg" alt="黄耆建中湯"></a>
<a href="kan36"><img class="kampo-thumb" src="../../images/no36.jpg" alt="桂枝湯"></a>
<a href="kan37"><img class="kampo-thumb" src="../../images/no37.jpg" alt="当帰四逆加呉茱萸生姜湯"></a>
<a href="kan38"><img class="kampo-thumb" src="../../images/no38.jpg" alt="桂枝茯苓丸"></a>
<a href="kan39"><img class="kampo-thumb" src="../../images/no39.jpg" alt="柴胡桂枝湯"></a>
<a href="kan40"><img class="kampo-thumb" src="../../images/no40.jpg" alt="清肺湯"></a>
<a href="kan41"><img class="kampo-thumb" src="../../images/no41.jpg" alt="漢方41"></a>
<a href="kan43"><img class="kampo-thumb" src="../../images/no43.jpg" alt="漢方43"></a>
<a href="kan45"><img class="kampo-thumb" src="../../images/no45.jpg" alt="漢方45"></a>
<a href="kan46"><img class="kampo-thumb" src="../../images/no46.jpg" alt="漢方"></a>
<a href="kan47"><img class="kampo-thumb" src="../../images/no47.jpg" alt="漢方"></a>
<a href="kan48"><img class="kampo-thumb" src="../../images/no48.jpg" alt="漢方"></a>
<a href="kan50"><img class="kampo-thumb" src="../../images/no50.jpg" alt="漢方"></a>

<a href="kan52"><img class="kampo-thumb" src="../../images/no52.jpg" alt="漢方"></a>
<a href="kan53"><img class="kampo-thumb" src="../../images/no53.jpg" alt="漢方"></a>
<a href="kan54"><img class="kampo-thumb" src="../../images/no54.jpg" alt="漢方"></a>
<a href="kan55"><img class="kampo-thumb" src="../../images/no55.jpg" alt="漢方"></a>
<a href="kan56"><img class="kampo-thumb" src="../../images/no56.jpg" alt="漢方"></a>
<a href="kan57"><img class="kampo-thumb" src="../../images/no57.jpg" alt="漢方"></a>
<a href="kan59"><img class="kampo-thumb" src="../../images/no59.jpg" alt="漢方"></a>
<a href="kan60"><img class="kampo-thumb" src="../../images/no60.jpg" alt="漢方"></a>
<a href="kan61"><img class="kampo-thumb" src="../../images/no61.jpg" alt="漢方"></a>
<a href="kan62"><img class="kampo-thumb" src="../../images/no62.jpg" alt="漢方"></a>
<a href="kan63"><img class="kampo-thumb" src="../../images/no63.jpg" alt="漢方"></a>
<a href="kan64"><img class="kampo-thumb" src="../../images/no64.jpg" alt="漢方"></a>
<a href="kan65"><img class="kampo-thumb" src="../../images/no65.jpg" alt="漢方"></a>
<a href="kan66"><img class="kampo-thumb" src="../../images/no66.jpg" alt="漢方"></a>
<a href="kan67"><img class="kampo-thumb" src="../../images/no67.jpg" alt="漢方"></a>
<a href="kan68"><img class="kampo-thumb" src="../../images/no68.jpg" alt="漢方"></a>
<a href="kan69"><img class="kampo-thumb" src="../../images/no69.jpg" alt="漢方"></a>
<a href="kan70"><img class="kampo-thumb" src="../../images/no70.jpg" alt="漢方"></a>
<a href="kan71"><img class="kampo-thumb" src="../../images/no71.jpg" alt="漢方"></a>
<a href="kan72"><img class="kampo-thumb" src="../../images/no72.jpg" alt="漢方"></a>
<a href="kan74"><img class="kampo-thumb" src="../../images/no74.jpg" alt="漢方"></a>
<a href="kan75"><img class="kampo-thumb" src="../../images/no75.jpg" alt="漢方"></a>
<a href="kan76"><img class="kampo-thumb" src="../../images/no76.jpg" alt="漢方"></a>
<a href="kan77"><img class="kampo-thumb" src="../../images/no77.jpg" alt="漢方"></a>
<a href="kan78"><img class="kampo-thumb" src="../../images/no78.jpg" alt="漢方"></a>
<a href="kan79"><img class="kampo-thumb" src="../../images/no79.jpg" alt="漢方"></a>
<a href="kan80"><img class="kampo-thumb" src="../../images/no80.jpg" alt="漢方"></a>
<a href="kan81"><img class="kampo-thumb" src="../../images/no81.jpg" alt="漢方"></a>
<a href="kan82"><img class="kampo-thumb" src="../../images/no82.jpg" alt="漢方"></a>
<a href="kan83"><img class="kampo-thumb" src="../../images/no83.jpg" alt="漢方"></a>
<a href="kan84"><img class="kampo-thumb" src="../../images/no84.jpg" alt="漢方"></a>
<a href="kan85"><img class="kampo-thumb" src="../../images/no85.jpg" alt="漢方"></a>
<a href="kan86"><img class="kampo-thumb" src="../../images/no86.jpg" alt="漢方"></a>
<a href="kan87"><img class="kampo-thumb" src="../../images/no87.jpg" alt="漢方"></a>
<a href="kan88"><img class="kampo-thumb" src="../../images/no88.jpg" alt="漢方"></a>
<a href="kan89"><img class="kampo-thumb" src="../../images/no89.jpg" alt="漢方"></a>
<a href="kan90"><img class="kampo-thumb" src="../../images/no90.jpg" alt="漢方"></a>
<a href="kan91"><img class="kampo-thumb" src="../../images/no91.jpg" alt="漢方"></a>
<a href="kan100"><img class="kampo-thumb" src="../../images/no100.jpg" alt="漢方"></a>
<a href="kan101"><img class="kampo-thumb" src="../../images/no101.jpg" alt="漢方"></a>
<a href="kan102"><img class="kampo-thumb" src="../../images/no102.jpg" alt="漢方"></a>
<a href="kan103"><img class="kampo-thumb" src="../../images/no103.jpg" alt="漢方"></a>
<a href="kan104"><img class="kampo-thumb" src="../../images/no104.jpg" alt="漢方"></a>
<a href="kan105"><img class="kampo-thumb" src="../../images/no105.jpg" alt="漢方"></a>
<a href="kan106"><img class="kampo-thumb" src="../../images/no106.jpg" alt="漢方"></a>
<a href="kan107"><img class="kampo-thumb" src="../../images/no107.jpg" alt="漢方"></a>
<a href="kan108"><img class="kampo-thumb" src="../../images/no108.jpg" alt="漢方"></a>
<a href="kan109"><img class="kampo-thumb" src="../../images/no109.jpg" alt="漢方"></a>
<a href="kan110"><img class="kampo-thumb" src="../../images/no110.jpg" alt="漢方"></a>
<a href="kan111"><img class="kampo-thumb" src="../../images/no111.jpg" alt="漢方"></a>
<a href="kan112"><img class="kampo-thumb" src="../../images/no112.jpg" alt="漢方"></a>
<a href="kan113"><img class="kampo-thumb" src="../../images/no113.jpg" alt="漢方"></a>
<a href="kan114"><img class="kampo-thumb" src="../../images/no114.jpg" alt="漢方"></a>
<a href="kan115"><img class="kampo-thumb" src="../../images/no115.jpg" alt="漢方"></a>
<a href="kan116"><img class="kampo-thumb" src="../../images/no116.jpg" alt="漢方"></a>
<a href="kan117"><img class="kampo-thumb" src="../../images/no117.jpg" alt="漢方"></a>
<a href="kan118"><img class="kampo-thumb" src="../../images/no118.jpg" alt="漢方"></a>
<a href="kan119"><img class="kampo-thumb" src="../../images/no119.jpg" alt="漢方"></a>
<a href="kan120"><img class="kampo-thumb" src="../../images/no120.jpg" alt="漢方"></a>
<a href="kan121"><img class="kampo-thumb" src="../../images/no121.jpg" alt="漢方"></a>
<a href="kan122"><img class="kampo-thumb" src="../../images/no122.jpg" alt="漢方"></a>
<a href="kan123"><img class="kampo-thumb" src="../../images/no123.jpg" alt="漢方"></a>
<a href="kan125"><img class="kampo-thumb" src="../../images/no125.jpg" alt="漢方"></a>
<a href="kan126"><img class="kampo-thumb" src="../../images/no126.jpg" alt="漢方"></a>
<a href="kan127"><img class="kampo-thumb" src="../../images/no127.jpg" alt="漢方"></a>
<a href="kan128"><img class="kampo-thumb" src="../../images/no128.jpg" alt="漢方"></a>
<a href="kan133"><img class="kampo-thumb" src="../../images/no133.jpg" alt="漢方"></a>
<a href="kan134"><img class="kampo-thumb" src="../../images/no134.jpg" alt="漢方"></a>
<a href="kan135"><img class="kampo-thumb" src="../../images/no135.jpg" alt="漢方"></a>
<a href="kan137"><img class="kampo-thumb" src="../../images/no137.jpg" alt="漢方"></a>
<a href="kan138"><img class="kampo-thumb" src="../../images/no138.jpg" alt="漢方"></a>


            </section>

        </section>

    </main>
    <a href="https://lin.ee/56a0xBp" target="_blank" class="fixed-button">
        LINEで予約する
    </a>

<Footer />

</body>

</html>