            <section class="calendar">
                <img src="images/8gatu1.jpg" class="responsive-img" />
                <img src="images/kugatu.jpg" class="responsive-img" />
            </section>