            <section class="calendar">
                <img src="images/7gatu1.jpg" class="responsive-img" alt="6月" />
                <img src="images/8gatu1.jpg" class="responsive-img" alt="7月" />
            </section>