    <header class="main-header">
        <nav class="custom-nav">
            <ul class="custom-nav-list">
                <li><a href="/">TOP</a></li>
              <li> <a href="/kanpo/kanpo-index">漢方専門</a></li>
                <li><a href="/naika/naika-index">内科専門</a></li>
                <li><a href="/hifu/hifu-index">皮膚専門</a></li>
                <li><a href="/recipe/recipe-index">レッツクック</a></li>
                <li><a href="/kenko/kenko-index">健康専門</a></li>
                <li><a href="/net/net-index">HP制作術</a></li>
                <li><a href="/hourouki">ほうろうき</a></li>
                <li><a href="/pic/pic-index">写真・広告<br>印刷・宣伝</a></li>
                <li><a href="/poemu">ラウンジ</a></li>
            </ul>
        </nav>
    </header>