    <header class="main-header">
        <nav class="custom-nav">
            <ul class="custom-nav-list">
                <li><a href="/">TOP</a></li>
              <li> <a href="/kanpo/kanpo-index">漢方専門</a></li>
                <li><a href="/naika/naika-index">内科専門</a></li>
                <li><a href="/hifu/hifu-index">皮膚専門</a></li>
                <li><a href="/recipe/recipe-index">読者レシピ</a></li>
                <li><a href="https://sunabekenko.vivian.jp/index.html">健康専門</a></li>
                <li><a href="/net/net-index">HP制作術</a></li>
                <li><a href="#">LINE制作術</a></li>
                <li><a href="/pic/video-index">写真撮影術</a></li>
                <li><a href="poemu.html">ラウンジ</a></li>
            </ul>
        </nav>
    </header>