            <section class="promo">
                <div class="sns-buttons">
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="images/10000.jpg"
                            alt="LINE予約1"
                            class="fixed-size"
                        /></a
                    >
                    <a href="https://lin.ee/56a0xBp"
                        ><img
                            src="images/10001.jpg"
                            alt="LINE予約2"
                            class="fixed-size"
                        /></a
                    >
                    <a href="tel:098-936-6270"
                        ><img
                            src="images/10002.jpg"
                            alt="電話"
                            class="fixed-size"
                        /></a
                    >
                </div>
            </section>