---
import "../../styles/kenko-style.css";
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健康</title>
</head>
<body>
    <header>
        <h1>健康</h1>
    </header>
    
        <main>
            <h2>メニュー</h2>
            <div class="card-container">
                <a class="card" href="calorie">
                    <h3>カロリー計算ツール</h3>
                    <p>食材のカロリーを簡単に計算</p>
                </a>
                <a class="card" href="enbun.html">
                    <h3>塩分早見表</h3>
                </a>
                <a class="card" href="vitamin_a.html">
                    <h3>ビタミンACE早見表(製作中)</h3>
                    <p>ビタミンACE</p>
                </a>
                <a class="card" href="tobun.html">
                    <h3>糖質早見表</h3>
                    
                </a>
                <a class="card" href="recommend.html">
                    <h3>高血圧食事(製作中)</h3>
                    <p>高血圧食事～</p>
                </a>
                <a class="card" href="recommend.html">
                    <h3>高脂血症(製作中)</h3>
                    <p>高脂血症～</p>
                </a>
                <a class="card" href="recommend.html">
                    <h3>痛風(製作中)</h3>
                    <p>痛風～</p>
                </a>
                <a class="card" href="recommend.html">
                    <h3>ダイエット(製作中)</h3>
                    <p>ダイエット～</p>
                </a>
                <a class="card" href="category.html">
                    <h3>カテゴリ(製作中)</h3>
            
                </a>

            </div>
        </main>
        
    

    
</body>

<footer style="background-color: #ddd; padding: 10px; text-align: center;">
    <p>&copy; 2025 砂辺クリニック</p>
</footer>

</html>

