---
/* src/pages/kenko/seasoning.astro */
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>健康：調味料</title>
  </head>
  <body>
    <main>
      <h1>健康：調味料</h1>

    </main>
  </body>
</html>
